# Proyecto Final
## Descriptión: 
### Creación, importación desde bases de datos y directorio actual, y procesamiento de tablas de estados-procesos termodinámicos usando Python y MySQL. Los cálculos realizados aquí pueden no tener sentido físico, por lo que muchos resultados se basan en procedimientos que tienen más como fin mostrar las capacidades del lenguaje Python y sus librerías.

In [ ]:
''' nombre del programa: PROCESAMIENTO DE DATOS TERMODINÁMICOS USANDO PYTHON Y MYSQL.

autor: Est. Jorge Luis Jiménez Hurtado
cod est.: 1005704849
institución: Universidad del Quindío
correo institucional: jorgel.jimenezh@uqvirtual.edu.co

Buen día. Por favor empieza a leer el programa desde la última línea y te guiarás por las llamadas de las funciones.
'''
import os
from pathlib import Path
#from sqlalchemy import create_engine
#import pymysql
#import sys
import mysql.connector 
import random
import pandas as pd
import xlrd
import re # la uso en el método to_relate()
import math # La uso en el método thermo_process()
import numpy as np
from numpy.linalg import eig, LinAlgError


'''Procesamiento de tablas de estados y procesos termodinámicos dentro de bases de datos usando MySQL.'''
#
#
#Este método me muestra el menú principal (main menu).
def user_options():
    while True:
        print("\nMAIN MENU\n(1)Create database\n(2)Delete database\n(3)Login to a database\n(4)Exit.\n\nChoose an option (1/2/3/4/5)")
        response = input('>>>')     
        if response == '1':
            create_db()       
        elif response == '2':
            delete_db()
        elif response == '3':
            login_db()
        elif response == '4':
            raise Exception('Has cerrado el programa.')
        else:
            input_error()
#
#
# Cada vez que el usuario no ingrese un dato válido, se llamará a esta función.
def input_error():
    print("\nRespuesta no válida.\n")
#
#
# Método para ingresar el nombre de una tabla, mostrándome las existentes en la base de datos.
def input_table(conn, cursor):
    # Retrieving the list of tables. (retrieve - n. recuperar.)
    print("List of tables: ")
    cursor.execute("SHOW TABLES")
        
    for x in cursor:
        print(x)

    print("Ingrese el nombre de la tabla")
    tb=input('>>>')
    
    return tb
#
#
#
def connect_and_show_db():
    # Establishing the connection. Good practice: use 'conn' or 'cnx'
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Himenesumusic_13",
    )
    # Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    
    # Retrieving the list of databases. (retrieve - n. recuperar.)
    print("List of databases: ")
    cursor.execute("SHOW DATABASES")
    
    for x in cursor:
        print(x)
    return conn, cursor
#
#
'''Creating a database in MySQL using python.'''
def create_db():
    conn,cursor = connect_and_show_db()
    MyNewDB=input('Ingresa el nombre de la nueva base de datos. ' 
                  'PELIGRO: Si el nombre de la base de datos que vas a crear coincide con alguna existente, '
                  'entonces se reemplazará la existente por la nueva.\n>>>')
    
    # Dropping a database deletes the database from an instance of SQL Server and deletes the physical disk files used by the database.    
    # Dropping database MyDB_Thermo if already exists. DROP database is a keyword of MySQL.
    cursor.execute("DROP database IF EXISTS " + db_name)

    # Preparing query to create a database. CREATE database is a keyword of MySQL.
    sql = "CREATE database " + db_name

    # Creating a database. MySQLCursor.execute() Method executes the given database operation (query(consulta o acción sobre los datos) or command).
    cursor.execute(sql)

    # Retrieving the list of databases. (retrieve - n. recuperar.)
    print("List of databases: ")
    cursor.execute("SHOW DATABASES")
    
    for x in cursor:
        print(x)

    print(cursor.fetchall()) # MySQLCursor.fetchall() Method fetches(fetch - v. ir a buscar) all (or all remaining) rows of a query result set and returns a list of tuples. If no more rows are available, it returns an empty list.
    
    # Comando que me guarda los cambio en MySQL y para que se muestren en MySQL Workbench
    conn.commit()
    
    # Closing the connection
    conn.close()
    
    pass
#
# Este método me elimina una base de datos existente elegida por el usuario.
def delete_db():
    cnx,cursor = connect_and_show_db()
    
    ByeDB=input("Ingresa el nombre de la base de datos que desea eliminar.\n>>>")
    
    # Dropping a database deletes the database from an instance of SQL Server and deletes the physical disk files used by the database.    
    # Dropping database MyDB_Thermo if already exists. DROP database is a keyword of MySQL.
    cursor.execute("DROP database IF EXISTS " + db_name)
    
    # Retrieving the list of databases. (retrieve - n. recuperar.)
    print("List of databases: ")
    cursor.execute("SHOW DATABASES")
    
    for x in cursor:
        print(x)

    #print(cursor.fetchall()) #MySQLCursor.fetchall() Method fetches(fetch - v. ir a buscar) all (or all remaining) rows of a query result set and returns a list of tuples. If no more rows are available, it returns an empty list.
    
    # Comando que me guarda los cambio en MySQL y para que se muestren en MySQL Workbench
    cnx.commit()
    
    # Closing the connection
    cnx.close()
    
    pass
#
#
def login_db():
    cnx,cursor = connect_and_show_db()        
    cnx.close()
    # While trying to connect to an existing database.
    while not cnx.is_connected():
        toDB=input("Ingrese el nombre de la base de datos a la cual desea entrar.\n>>>")
        try:
            # Establishing the connection. Good practice: use 'conn' or 'cnx'  
            cnx = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="Himenesumusic_13",
            database=toDB
            )
            print("Conexión exitosa.\n")
            cursor = cnx.cursor()
            processing_data_menu(cnx,cursor)
        except mysql.connector.Error:
            print(f"No fue posible conectarse porque la base de datos '{toDB}' no existe.\n")
        else: print("Error al intentar conectarse.\n")
            
    pass
#
#
def processing_data_menu(conn,cursor):
    obj=Process_data('tb_states77.xlsx','tb_states78.xlsx','tb_states79.xlsx','test_table137.xlsx',
                     tb_states77=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final',
                     data_base1=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final\OtroDirectorio',
                     tb_states78=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final',
                     test_table137=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre'
                    )
    while True:
        print("\nMAIN MENU\n(1)Usar operaciones CRUD de MySQL\n(2)Procesar datos\n(3)Exit\nChoose an option (1/2/3)")
        response = input('>>>')     
        if response == '1':
            submenu_tables_mysql_options(conn,cursor,obj)      
        elif response == '2':
            processing_data(conn,cursor)
        elif response == '3':
            user_options()
        else:
            input_error()       
#
# Menú de opciones de tablas disponibles para el usuario con MySQL
def submenu_tables_mysql_options(conn,cursor,obj):
    while True:
        print("\nSUBMENU\n(1)Create table\n(2)Read table\n(3)Update table\n(4)Delete table\n(5)Exit.\n\nChoose an option (1/2/3/4/5)\n")
        response = input('>>>')
        
        if response == '1':
            obj.create_table(conn, cursor, obj)
        elif response == '2':
            obj.read_table(conn, cursor)
        elif response == '3':
            obj.update_table(conn, cursor)
        elif response == '4':
            obj.delete_table(conn, cursor, obj)
        elif response == '5':
            processing_data_menu(conn, cursor)
        else:
            input_error()
    pass
#
# 
def read_my_cwdir():
    '''We get the name of my current working directory as a string'''
    cwdir = os.getcwd()
    '''We get files and directories in my current working directory in a list'''
    files_in_cwdir = os.listdir() 
    '''Para obtener el directorio de trabajo actual, usamos el función getcwd() (get current working directory) del módulo os. 
    Esta función te devuelve el directorio actual en forma de cadena.'''
    '''I get the files of xlsx type in a list'''
    valid_files = [i for i in files_in_cwdir if os.path.isfile(i) and i.endswith('.xlsx')]
    
    print(f"\nDirectorio de trabajo actual: {cwdir}")
    print(f"Archivos y carpetas dentro: {files_in_cwdir}.")
    print(f"Archivos válidos (de tipo .xlsx): {valid_files}")
        
    return cwdir,files_in_cwdir,valid_files
#
#
'''Mi decorador :-)'''
def decorator_check_cwdir(function_to_decorate, pa, kwa): # pa: positional arguments, kwa: keyword arguments
    cwdir, files_in_cwdir, valid_files = read_my_cwdir()
    
    def is_cwdir(path):
        if path == cwdir: 
            return 'actual '
        else:
            return ''
    print("")    
    for i,j in zip(kwa.keys(),kwa.values()): # zip() me permite iterar con más de un índice. Python’s zip function allows us to loop over multiple lists at the same time:
        path = Path(j+'\\'+i+'.xlsx') # ejemplo cuando concateno: r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Parcial2\data_base3.xlsx'
        if path.is_file():
            print(f"El archivo {i+'.xlsx'} existe en el directorio {is_cwdir(j)}{j}")
        else:
            print(f"El archivo {i+'.xlsx'} no existe en el directorio {is_cwdir(j)}{j}")
    
    function_to_decorate()
    pass
#
# Clase que al inicializarse recibe como argumentos los nombres de archivos y opcionalmente sus direcciones.
class Process_data():
    #
    '''Al crearse la clase recibe nombres de archivos y opcionalmente sus direcciones'''
    def __init__(self, *args, **kwargs): # args=(var1,var2,var3,...,varn), kwargs={a:'val1', b:'val2',...}
        decorator_check_cwdir(self.__check_my_cwdir__, args, kwargs)
    #
    #
    '''aplico la función decoradora 'decorator_check_actdir()' a la función de abajo'''
    def __check_my_cwdir__(self):
        print("Se ha inicializado la clase Process_data() y se han leído los archivos recibidos.")
    #
    #
    #
    # Los siguientes cuatro métodos de la clase Process_data permiten implementar las operaciones CRUD de MySQL.
    #
    #
    #
    def create_table(self, conn, cursor,obj):
        print("Ingrese el nombre de la tabla P,V,T que desea crear")
        statesTBname=input('>>>')
        
        #Dropping newTB table if already exists.
        cursor.execute(f"DROP TABLE IF EXISTS {statesTBname}")
        
        #Creating table as per requirement
        sql = f"CREATE TABLE {statesTBname} (state VARCHAR(255), P FLOAT(7,2), V FLOAT(7,2), T FLOAT(7,2))" #Here, (M,D) means than values can be stored with up to M digits in total, of which D digits may be after the decimal point
        
        try:
            cursor.execute(sql)
        except mysql.connector.Error as err:
            print("Failed creating database: {0}".format(err))
            exit(1)
            
        print("Ingrese el nombre de la tabla de procesos asociada a la tabla de estados")
        processesTBname=input('>>>')
         
        #Dropping newTB table if already exists.
        cursor.execute(f"DROP TABLE IF EXISTS {processesTBname}")
        
        #Creating table as per requirement
        sql = f"CREATE TABLE {processesTBname} (initial_final_states VARCHAR(255), type_of_process VARCHAR(255))"
        
        try:
            cursor.execute(sql)
        except mysql.connector.Error as err:
            print("Failed creating database: {0}".format(err))
            exit(1)

        # Preparing SQL query to INSERT a record into the database.
        insDynSta = f"INSERT INTO {statesTBname}(state, P, V, T) VALUES (%s, %s, %s, %s)" # %s se usar para insertar los valores dinámicamente.
        insDynPro = f"INSERT INTO {processesTBname}(initial_final_states, type_of_process) VALUES (%s, %s)"
        
        while True:
            print("(1)Enter values\n(2)Random values\n(3)Exit\nPlease choose an option (1/2/3)")
            resp=input(">>>")
            
            if resp == '1':
                self.insert_in_table(conn, cursor, insDynSta, insDynPro)
                submenu_tables_mysql_options(conn,cursor,obj)
            elif resp == '2':
                self.random_table(conn, cursor, insDynSta, insDynPro)
                submenu_tables_mysql_options(conn,cursor,obj)
            elif resp == '3':
                submenu_tables_mysql_options(conn,cursor,obj)
            else:
                input_error()

        pass
    #
    #
    #
    # Método que permite al usuario insertar uno o varios registros en una tabla cuyo nombre está guardado en la variable tb
    def insert_in_table(self, conn, cursor, insDynSta, insDynPro):
        state=0 # flag - bandera
        resp='y'
        while resp == 'y':
            state+=1
            tonteando=True     
            while tonteando:
                print(f"Ingrese la presión, volumen, y temperatura del estado {state}")
                P=input("P = ")
                V=input("V = ")
                T=input("T = ")              
                try:
                    P=float(P)
                    V=float(V)
                    T=float(T)
                    if P>0 and V>0 and T>0:
                        tonteando=False
                    else:
                        print("Solo se permiten números reales mayores a cero.")
                except:
                    print("El dato ingresado no es de tipo flotante.")
            try:
                # Populating the table 
                cursor.execute(insDynSta,(str(state),P, V, T))
                # Commit your changes in the database
                conn.commit()
            except:
                # Rolling back in case of error (roll back - v. retroceder (una acción))
                conn.rollback()
                print("Error al intentar ejecutar query. Los datos a insertar en la tabla no son de tipo flotante.")
            if state > 1:
                ups=True
                while ups:
                    print(f"Ingrese el tipo de proceso llevado a cabo del estado {state-1} al estado {state}")
                    proc=input(">>>")
                    if proc in ["adiabatic","isothermal","isobaric","isochoric"]:
                        ups=False 
                        trans=f'{state-1}-{state}'
                        cursor.execute(insDynPro,(trans,proc))
                        conn.commit()
                    else:
                        input_error()
            while True:
                resp = input("Desea ingresar un nuevo estado (P,V,T) ? y/n\n>>>")
                if resp in ['y','n']:
                    break
                else:
                    input_error()
    
        pass
    #
    #
    #   
    def random_table(self, conn, cursor, insDynSta, insDynPro):
        tonteando=True
        while tonteando:
            n=input("Ingrese el número de estados (número de filas de la tabla)\n>>>")
            try:
                n = int(n)
                if n > 1:
                    tonteando=False
                else:
                    print("Solo se permiten enteros mayores o iguales a dos.")
            except ValueError:
                print("El dato ingresado no es de tipo entero.")

        for i in range(n):
            P,V,T = random.uniform(0, 100),random.uniform(0, 100),random.uniform(0, 100)
            # Populating the table 
            cursor.execute(insDynSta,(str(i+1),P,V,T))
            
        for i in range(n-1):
            trans=f'{i+1}-{i+2}'
            proce=random.choice(["adiabatic","isothermal","isobaric","isochoric"])
            cursor.execute(insDynPro,(trans,proce))
            
        # Commit your changes in the database
        conn.commit()  
        
        pass
    #
    #
    #
    # Método para leer, selecionar información útil de la base de datos a la cual el usuario está conectado (conn).
    def read_table(self, conn, cursor):
        tb = input_table(conn, cursor) 
        #Retrieving single row
        sql = f'SELECT * from {tb}'
        
        #Executing the query
        cursor.execute(sql)
        
        print("Todos los registros de la tabla:")
        #Fetching 1st row from the table
        result = cursor.fetchall();
        print(result)
        
        '''print("El primer registro de la tabla:")
        #Fetching 1st row from the table
        result = cursor.fetchone();
        print(result)'''
        
        print("Registros con T > 3:")
        #Retrieving specific records using the where clause
        #cursor.execute(f"SELECT * from {tb} WHERE 373.25 < T < 373.25") #temperaturas entre 0 y 100 grados centigrados.
        cursor.execute(f"SELECT * from {tb} WHERE T > 3") 
        print(cursor.fetchall())
        
        print("Registros ordenados por V ascendiente:")
        cursor.execute(f"SELECT * from {tb} ORDER BY V") # ordena los registros por V ascendiente.
        print(cursor.fetchall())
        
        print("Registros ordenados por P descendiente:")
        cursor.execute(f"SELECT * from {tb} ORDER BY P DESC") # ordena los registros por P descendiente.
        print(cursor.fetchall())
        
        pass
    #
    #
    #   
    def update_table(self, conn, cursor):
        tb = input_table(conn, cursor) 
        #Preparing the query to update the records
        sql_query = f'''UPDATE {tb} SET P = 10, V = 20, T = 30 WHERE P = V AND V = T'''
        
        try:
            # Execute the SQL command
            cursor.execute(sql_query)
            # Commit your changes in the database
            conn.commit()
        except:
            # Rollback in case there is any error
            conn.rollback()
            print("Error al intentar modificar el registro.")

        pass
    #
    #
    # metodo que me permite eliminar registros de una tabla
    def delete_table(self, conn, cursor, obj):
        
        while True:
            print("(1)Delete a record of the table\n(2)Drop table\n(3)Exit\nChoose an option (1/2/3)")
            resp=input(">>>")
            
            if resp == '1':
                self.delete_record(conn, cursor)
            elif resp == '2':
                self.drop_table(conn, cursor)
            elif resp == '3':
                submenu_tables_mysql_options(conn,cursor,obj)
            else:
                input_error()
        
        print("Eliminar tabla")
        
        self.drop_table(conn, cursor)
    #
    #
    #
    '''Método que me elimina registros según condición dada sobre los datos.'''
    def delete_record(self, conn, cursor):
        tb = input_table(conn, cursor)
        #Preparing the query to delete records
        sql = f"DELETE FROM {tb} WHERE P <= 0 OR V <= 0 OR T <= 0 OR ( P = V AND V = T )"
        try:
            # Execute the SQL command
            cursor.execute(sql)
            # Commit your changes in the database
            conn.commit()
        except:
            # Roll back in case there is any error
            print("Hubo un error en la ejecución para eliminar los registros de la tabla.")
            conn.rollback()
        pass
    #
    #
    #
    '''Método que me elimina una tabla guardada en una base de datos usando MySQL'''
    def drop_table(self, conn, cursor):
        tb = input_table(conn, cursor)
        #Doping tb table if already exists
        try: 
            cursor.execute(f"DROP TABLE {tb}")
            print(f"Table {tb} dropped... ")
        except:
            # Roll back in case there is any error
            print("Hubo un error en la ejecución para eliminar la tabla.")
            conn.rollback()
        pass
#
#
'''Menú para el procesamiento de datos: aquí se llaman varias funciones de procesan las dataframes con datos termodinámicos'''
def processing_data(conn,cursor):
    alright=False
    dfs1={} # voy a guardar todas mis tablas de mysql en el diccionario dfs1. {'name_table1':'table_data_frame1',...}
    dfs2={} # voy a guardar todas mis tablas de mi directorio en el diccionario dfs2. {'name_table2':'table_data_frame2',...}      
    while not alright:
        print("(1)Importar datos de mysql a pandas dataframe\n",
            '(2)Importar datos de mi directorio actual a pandas dataframe\n',
            '''(3)¡Estoy listo para procesar mis datos!''')
        resp=input(">>>")
        subresp='y'
        if resp=='1':
            while subresp=='y':
                df_name,df = imp_mysql_df(conn,cursor)
                #dfs = {**dfs, df_name:df} # adding a key:value pair using a dictionary comprehension.
                dfs1.update({df_name:df}) # adding a key:value pair using the update() method.
                print("Desea importar otra tabla de MySQL?\n(1)y\n(2)n")
                subresp=input('>>>')                    
        elif resp=='2':
            while subresp=='y':
                df_name,df = import_from_my_cwdir()
                #dfs = {**dfs, df_name:df} # adding a key:value pair using a dictionary comprehension.
                dfs2.update({df_name:df}) # adding a key:value pair using the update() method.
                print("Desea importar otra tabla del directorio actual?\n(1)y\n(2)n")
                subresp=input('>>>')
        elif resp=='3':
            alright=True
        else:
            input_error()
            
    dfs={**dfs1,**dfs2} # junto todas las tablas obtenidas de mysql y del directorio actual, identificas con su nombre por defecto. ¡¡¡No puedo juntar tablas con el mismo nombre (key)!!!
    
    print(dfs)
    
    print("Tienes varias tablas para procesar. Elige qué acción quieres efectuar sobre ellas:")    
    
    while True:
        print("(1)Calcular calor y trabajo total en cada tabla\n",
             "(2)Resolver un sistema AX=Y\n",
             "(3)Mostrar un gráfico de regresión lineal con scatter y un gráfico de caja y bigote\n",
             "(4)Ingresar función de dos variables y graficar, dadas dos columnas elegida por el usuario alguna tabla. (funcion lambda)",
             "(5)Exit")
        resp=input(">>>")
        
        if resp=='1':
            compute_heatwork(dfs)
        elif resp=='2':
            solve_matrix_equation(dfs)
        elif resp=='3':
            plot_linear_regression(dfs)
            plot_caja_bigote(dfs)
        elif resp=='4':
            plot_function(dfs)
        elif resp=='5':
            processing_data_menu(conn,cursor)
        else:
            input_error()
            
    # pendiente...
#
#
'''Summary of this method: importing data from a MySQL database into a Pandas data frame including column names'''
def imp_mysql_df(conn,cursor):
    goout=False
    while not goout:
        try:
            tb=input_table(conn, cursor)
            cursor.execute(f"SELECT * FROM {tb}")
            L1=cursor.fetchall()
            '''Once data is fetched it can be loaded into DataFrame'''
            df=pd.DataFrame(L1) # con este comando no obtengo los registros sin nombres de columnas.
            cursor.execute(f"SHOW COLUMNS FROM {tb}")
            L2=cursor.fetchall() 
            #df_column_names=pd.DataFrame(cursor.fetchall())            
            goout=True
        except mysql.connector.Error as err:
            print("Failed selecting table '{0}': {1}\n".format(tb,err))
    print(L1)
    print(df)
    print(L2)
    L=[]
    for i in range(len(L2)): 
        L.append(L2[i][0])
    print(L)
    # adding column name to the respective nameless columns
    df.columns=L
    print(df)
    print(f'''\nSe ha importado desde mysql la tabla {tb} a dataframe con éxito.\nNueva dataframe {tb}:''')
    display(df)
            
    return tb,df

'''Método para importar un archivo de tipo .xlsx de mi directorio de trabajo actual. Retorna una tabla de tipo dataframe'''
def import_from_my_cwdir():
    cwdir,files_in_cwdir,valid_files = read_my_cwdir()
    While=True
    while While:
        print("\nIngrese el nombre de la tabla con terminación .xlsx que quiere importar del directorio actual a pandas dataframe\n")
        tb=input('''>>>''')
        if tb in valid_files:
            While=False
            df=pd.read_excel(tb)
            display(df)
        else: 
            print("El archivo no existe en el directorio.")
            
    return tb.replace('.xlsx',''),df
#
#
'''Método que me permite calcular el calor y el trabajo en cada transformación y el total. Se muestra al usuario'''
def compute_heatwork(dfs):
    ordered=to_relate(dfs) # e.g. ordered=[[dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2], [dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2]]'''
    
    print("\nCalor y trabajo en cada transformación:")
    for i in ordered:
        df_stat=i[0] # i-ésima tabla dataframe de estados
        df_proc=i[1] # i-ésima tabla dataframe de procesos
        df_QW = pd.DataFrame(columns=['initial_final_states','Q','W'])
        '''obtengo las columnas de las dataframes como listas'''
        statelis=df_stat['state'].tolist()
        Plis=df_stat['P'].tolist()
        Vlis=df_stat['V'].tolist()
        Tlis=df_stat['T'].tolist()
        ifslis=df_proc['initial_final_states'].tolist()
        typlis=df_proc['type_of_process'].tolist()
        Q_T,W_T=0,0
        for j in range(len(typlis)):
            Q,W = thermo_process(j+1,typlis[j],Plis[j],Plis[j+1],Vlis[j],Vlis[j+1],Tlis[j],Tlis[j+1])
            print(f"{ifslis[j]}: Q = {round(Q,2)} joules, W= {round(W,2)} joules")
            entry = pd.DataFrame.from_dict({
                "initial_final_states":[ifslis[j]],
                "Q":[round(Q,2)],
                "W":[round(W,2)]
            })
            df_QW=pd.concat([df_QW, entry], ignore_index=True)
            Q_T+=Q
            W_T+=W
        display(df_QW)
        print(f"Calor total: {round(Q_T)} joules, Trabajo total: {round(W_T)} joules")
    pass
#
#
'''La función to_relate() me ayuda a hacer corresponder las tablas de los estados y procesos'''
'''EJEMPLO:
Si la funcion recibe
dfs={'tb_processes1':dfp1,'tb_processes3':dfp3,'tb_states2':dfs2,'tb_states1':dfs1,'tb_states2':dfs2,'tb_states3':dfs3,'tb_processes2':dfp2}
donde dfs1,dfs2,...,dfp1, dfp2... son las dataframes que quiero relacionar en pares, entonces la relacion es la lista que retorna la funcion:
ordered=[[dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2], [dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2]]'''
def to_relate(dfs):
    ordered=[]
    for x,y in zip(dfs.keys(),dfs.values()):
        i=re.findall(r'\d',x)[0] # este metodo me retorna una lista de strings con los números del string original x, y me paro en el indice 0 para obtener el primer string(número). En este caso particular, retorna una lista de un solo elemento)
        for u,w in zip(dfs.keys(),dfs.values()):
            j=re.findall(r'\d',u)[0]
            if j==i and x!=u: # si los nombres tienen el mismo número de terminación pero no son iguales (dfs1 != dfs1).
                # Para agregar primero tabla de estados, luego tabla de procesos.
                if x.find('states') != -1: # si x es el nombre de la tabla de estados. (find() retorna la posición índice del primer carácter del string 'states' en el string x. Retorna -1 si no lo encuentra)
                    ordered.append([y,w])
                else: # sino x es el nombre de la tabla de procesos.
                    ordered.append([w,y])
                break # no se va a encontrar un tercer nombre con igual número de terminación. No siga buscando/iterando.
    n=int(len(ordered)/2) 
    ordered=ordered[:n] # la segunda mitad de la lista se repite, debo cortarla (by using a slice).
    print(ordered)
    return ordered

'''Método que me retorna el calor y el trabajo realizado del estado 'state' al estado 'state+1'.'''
def thermo_process(state,process,P1,P2,V1,V2,T1,T2):
    R=8.314
    if process=="adiabatic":
        Q, W = 0, -3*R*(T2-T1)
    elif process=="isobaric":
        Q, W = 5*R*(T2-T1), P1*(V2-V1)
    elif process=="isochoric":
        Q, W = 3*R*(T2-T1), 0
    elif process=="isothermal":
        Q, W = 2*R*T1*math.log(V2/V1,math.e), 2*R*T1*math.log(V2/V1,math.e)
    return Q, W

def solve_matrix_equation(dfs):
    '''agrego las dataframes de estados P,V,T convertidas a listas en una lista.'''
    '''recordar: Sean dfsi,dfpi, i=1,2,3... las dataframes, dfs es el diccionario a procesar. e.g:
    dfs={ 'tb_processes1':dfp1,'tb_processes3':dfp3,'tb_states2':dfs2,'tb_states1':dfs1,
        'tb_states2':dfs2,'tb_states3':dfs3,'tb_processes2':dfp2 }'''
    listdata=[dfs[i].values.tolist() for i in dfs.keys() if i.find('states') != -1]
    print(str(listdata).replace(']],',']]final de tabla\n\n'))
    
    obj=Matrix(listdata[0])
    print(obj) # usando el método especial __str__()
    print(np.array(obj.M)) 
    m=obj.shape[0]
    n=obj.shape[1]
    print("Transpuesta:")
    print(obj.__transpose__())

    if m < n: 
        obj2=SquaredMatrix(convert_to_squared(obj,m,n,)) # agrego una fila con valores aleatorios.
        print("Matriz convertida a cuadrada:")
        print(obj2) # usando el método especial __str__() 
    elif m > n: 
        obj2=SquaredMatrix(convert_to_squared(obj,m,n,m-n)) # # agrego m-n columnas con valores aleatorios.
        print("Matriz convertida a cuadrada:")
        print(obj2) # usando el método especial __str__()
    elif m==n: 
        print("La matriz ya es cuadrada!")
        print(obj)
#   
#    
'''superclase Matrix'''
class Matrix:
    def __init__(self,listdf):
        self.M=listdf
        self.shape=self.__get_shape__(listdf)
        pass
    def __str__(self):
        return str(self.M).replace('],',']\n').replace(',',' ') # intentando emular como se imprimiría un numpy.ndarray
    def __get_shape__(self,L):
        return [len(L),len(L[0])] # [m,n]
    def __sum__(self,otra):
        return [list(map(lambda x,y:x+y,self.M[k],otra[k])) for k in range(self.shape[0])]
    def __transpose__(self):
        T=[]
        for j in range(self.shape[1]): T+=[[self.M[i][j] for i in range(self.shape[0])]]
        return T

'''subclase de mi superclase Matrix'''
class SquaredMatrix(Matrix):
    def __init__(self,M):
        super().__init__(M)

def convert_to_squared(obj,m,n,l=None):
    '''np.random.randint(arg1,arg2,[m,n]) me da un objeto de tipo 'numpy.ndarray'. Si lo convierto a lista,
    obtengo una lista de m-filas por n-columnas con valores aleatorios en el intervalo entre arg1 y arg2.
    '''
    if l!=None:         
        return [obj.M[j]+np.random.randint(0.01,100,[1,l])[0].tolist() for j in range(m)] # agrego l columnas aleatorias.
    else:
        return obj.M+[np.random.randint(0.01,100,[1,n]).tolist()[0] for j in range(n-m)] # agrego una fila aleatoria.

'''DE AX=Y, VOY A USAR LAS LISTAS X, Y PARA MI SECCIÓN DE GRAFICACIÓN.'''
    
def plot_linear_regression():
    pass
def plot_caja_bigote():
    pass
def plot_input_function():
    pass
    
    
'''IDEAS
***importar tabla MySQL completa a dataframe
importar n columnas de la tabla
importar ciertas filas 
***calcular el calor y trabajo total en cada proceso, y del proceso completo
***resolver un sistema AX=Y, con A definida por una tabla (convertir datos a array)
***crear una clase matrix y unas subclase squared_matrix (herencia Y super())
***graficar dos columnas con regresion lineal, con scatter, y graficos de caja y bigote (librerias seaborn, mathplotlib)
***usar funcion lambda para graficar varias funciones que tendrán como entrada dos columnas 
***usar un decorador con @
'''

'''
Preguntas:
qué es un conector?
qué es query?
qué es conn.rollback?
qué es un decorador?
qué son las operaciones CRUD?
qué es mysql connections cuando inicio mysqlworkbench?
importa el orden del cursor?
            cursor.execute(f"SELECT * FROM {tb}")
            cursor.execute(f"SHOW COLUMNS FROM {tb}")
            L1=cursor.fetchall()
            L2=cursor.fetchall() ¿L1==L2?
'''
    
'''Esta función me comienza a ejecutar todo el programa.'''
user_options()

MAIN MENU
(1)Create database
(2)Delete database
(3)Login to a database
(4)Exit.

Choose an option (1/2/3/4/5)
>>>3
List of databases:
('information_schema',)
('mydb_thermo',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)
Ingrese el nombre de la base de datos a la cual desea entrar.
>>>testdb
Conexión exitosa.


Directorio de trabajo actual: C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
Archivos y carpetas dentro: ['.git', '.ipynb_checkpoints', 'ficherosalida.log', 'imagen.jpeg', 'OtroDirectorio', 'Proyecto_Final.ipynb', 'Repaso.ipynb', 'tb_states77.xlsx', 'tb_states78.xlsx', 'tb_states79.xlsx', 'Untitled.sql'].
Archivos válidos (de tipo .xlsx): ['tb_states77.xlsx', 'tb_states78.xlsx', 'tb_states79.xlsx']

El archivo tb_states77.xlsx existe en el directorio actual C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
El archivo data_base1.xlsx existe en el directorio C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final\OtroDirectorio
El archivo tb_states78.xlsx existe en el directorio actual C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
El archivo test_table137.xlsx no existe en el directorio C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre
Se ha inicializado la clase Process_data() y se han leído los archivos recibidos.

MAIN MENU
(1)Usar operaciones CRUD de MySQL
(2)Procesar datos
(3)Exit
Choose an option (1/2/3)
>>>2
(1)Importar datos de mysql a pandas dataframe
 (2)Importar datos de mi directorio actual a pandas dataframe
 (3)¡Estoy listo para procesar mis datos!
>>>1
List of tables:
('mitabla',)
('nuevatabla',)
('nuevatabla1',)
('tablaaleatoria',)
('tablaprueba',)
('tb_processes1',)
('tb_processes2',)
('tb_states1',)
('tb_states2',)
Ingrese el nombre de la tabla
>>>tb_states1
[('1', 1.0, 2.0, 3.0), ('2', 4.0, 5.0, 6.0), ('3', 1.1, 2.2, 3.3), ('4', 9.0, 8.0, 7.0), ('5', 123.0, 456.0, 789.0)]
   0      1      2      3
0  1    1.0    2.0    3.0
1  2    4.0    5.0    6.0
2  3    1.1    2.2    3.3
3  4    9.0    8.0    7.0
4  5  123.0  456.0  789.0
[('state', b'varchar(255)', 'YES', '', None, ''), ('P', b'float(7,2)', 'YES', '', None, ''), ('V', b'float(7,2)', 'YES', '', None, ''), ('T', b'float(7,2)', 'YES', '', None, '')]
['state', 'P', 'V', 'T']
  state      P      V      T
0     1    1.0    2.0    3.0
1     2    4.0    5.0    6.0
2     3    1.1    2.2    3.3
3     4    9.0    8.0    7.0
4     5  123.0  456.0  789.0

Se ha importado desde mysql la tabla tb_states1 a dataframe con éxito.
Nueva dataframe tb_states1:

  state      P      V      T
0     1    1.0    2.0    3.0
1     2    4.0    5.0    6.0
2     3    1.1    2.2    3.3
3     4    9.0    8.0    7.0
4     5  123.0  456.0  789.0

Desea importar otra tabla de MySQL?
(1)y
(2)n
>>>y
List of tables:
('mitabla',)
('nuevatabla',)
('nuevatabla1',)
('tablaaleatoria',)
('tablaprueba',)
('tb_processes1',)
('tb_processes2',)
('tb_states1',)
('tb_states2',)
Ingrese el nombre de la tabla
>>>tb_states2
[('1', 87.68, 81.81, 73.07), ('2', 84.81, 39.0, 7.68), ('3', 22.86, 2.6, 50.28), ('4', 64.44, 7.5, 33.52), ('5', 42.82, 63.85, 86.36), ('6', 56.56, 53.13, 12.52), ('7', 71.58, 0.14, 60.23), ('8', 25.42, 68.14, 42.74), ('9', 65.47, 87.03, 96.39), ('10', 80.97, 87.08, 95.17), ('11', 0.83, 9.79, 57.54), ('12', 15.71, 81.89, 29.82), ('13', 47.01, 50.33, 90.99), ('14', 52.35, 5.98, 11.45), ('15', 24.35, 87.74, 48.02), ('16', 4.44, 19.95, 39.31), ('17', 61.13, 19.6, 3.4), ('18', 93.69, 96.91, 59.63), ('19', 10.09, 28.79, 9.19), ('20', 37.17, 81.02, 47.78), ('21', 67.83, 41.08, 57.07), ('22', 67.87, 60.7, 25.79), ('23', 32.64, 10.39, 55.67), ('24', 12.55, 59.63, 49.79), ('25', 65.54, 59.14, 27.85), ('26', 99.61, 10.6, 15.29), ('27', 75.42, 61.41, 68.2), ('28', 77.74, 86.16, 5.88), ('29', 37.8, 70.83, 30.74), ('30', 36.22, 73.41, 34.66), ('31', 35.92, 94.91, 76.56), ('32', 78.0, 10.94, 17.35), ('33', 57.02, 67.33, 41.24), ('34', 59.28, 75.03, 54.85), ('35', 44.17, 86.13, 73.9), ('36', 99.87, 72.97, 99.7), ('37', 54.63, 40.21, 39.79), ('38', 50.21, 60.86, 6.97), ('39', 59.23, 37.01, 98.11), ('40', 78.85, 32.5, 5.87), ('41', 60.03, 12.72, 73.98), ('42', 38.03, 95.59, 94.5), ('43', 26.68, 29.85, 46.13), ('44', 72.69, 16.87, 65.98), ('45', 81.39, 9.87, 36.13), ('46', 12.94, 76.0, 80.69), ('47', 97.89, 26.34, 64.89), ('48', 18.81, 8.83, 20.17), ('49', 28.45, 66.04, 93.15), ('50', 96.49, 52.0, 8.0), ('51', 57.38, 60.61, 83.66), ('52', 51.62, 14.24, 7.54), ('53', 62.32, 86.88, 47.96), ('54', 41.41, 94.17, 72.66), ('55', 74.35, 46.08, 89.06), ('56', 86.3, 79.92, 59.0), ('57', 15.29, 99.1, 52.88), ('58', 86.46, 49.47, 95.47), ('59', 41.37, 84.8, 5.14), ('60', 86.9, 30.0, 81.68), ('61', 85.28, 0.83, 38.98), ('62', 2.28, 31.38, 80.23), ('63', 32.37, 5.86, 43.1), ('64', 4.91, 41.48, 14.0), ('65', 45.52, 0.63, 58.15), ('66', 45.38, 89.7, 91.4), ('67', 91.92, 2.14, 54.38), ('68', 69.11, 34.83, 58.67), ('69', 40.73, 89.12, 97.59), ('70', 32.28, 3.31, 94.68), ('71', 5.89, 79.95, 68.73), ('72', 82.31, 60.72, 60.35), ('73', 69.25, 99.82, 47.05), ('74', 26.33, 44.09, 11.53), ('75', 13.87, 48.36, 44.9), ('76', 24.7, 82.12, 33.0), ('77', 45.45, 23.43, 16.17), ('78', 36.65, 90.52, 98.15), ('79', 68.91, 12.93, 99.92), ('80', 12.72, 97.56, 24.91), ('81', 57.69, 62.37, 43.04), ('82', 35.91, 44.93, 24.41), ('83', 60.83, 35.45, 19.74), ('84', 25.06, 13.53, 67.09), ('85', 26.97, 99.5, 29.27), ('86', 62.31, 43.11, 1.55), ('87', 25.84, 24.99, 73.16), ('88', 39.64, 66.71, 5.28), ('89', 29.75, 8.43, 34.8), ('90', 96.28, 22.49, 45.84), ('91', 91.2, 78.49, 25.37), ('92', 54.26, 51.08, 92.82), ('93', 46.6, 58.67, 2.5), ('94', 68.0, 21.99, 57.62), ('95', 73.05, 0.8, 34.53), ('96', 30.48, 56.77, 41.43), ('97', 15.53, 38.83, 19.05), ('98', 45.81, 30.6, 1.88), ('99', 10.2, 68.86, 37.46), ('100', 96.89, 68.62, 0.67)]
      0      1      2      3
0     1  87.68  81.81  73.07
1     2  84.81  39.00   7.68
2     3  22.86   2.60  50.28
3     4  64.44   7.50  33.52
4     5  42.82  63.85  86.36
..  ...    ...    ...    ...
95   96  30.48  56.77  41.43
96   97  15.53  38.83  19.05
97   98  45.81  30.60   1.88
98   99  10.20  68.86  37.46
99  100  96.89  68.62   0.67

[100 rows x 4 columns]
[('state', b'varchar(255)', 'YES', '', None, ''), ('P', b'float(7,2)', 'YES', '', None, ''), ('V', b'float(7,2)', 'YES', '', None, ''), ('T', b'float(7,2)', 'YES', '', None, '')]
['state', 'P', 'V', 'T']
   state      P      V      T
0      1  87.68  81.81  73.07
1      2  84.81  39.00   7.68
2      3  22.86   2.60  50.28
3      4  64.44   7.50  33.52
4      5  42.82  63.85  86.36
..   ...    ...    ...    ...
95    96  30.48  56.77  41.43
96    97  15.53  38.83  19.05
97    98  45.81  30.60   1.88
98    99  10.20  68.86  37.46
99   100  96.89  68.62   0.67

[100 rows x 4 columns]

Se ha importado desde mysql la tabla tb_states2 a dataframe con éxito.
Nueva dataframe tb_states2:

   state      P      V      T
0      1  87.68  81.81  73.07
1      2  84.81  39.00   7.68
2      3  22.86   2.60  50.28
3      4  64.44   7.50  33.52
4      5  42.82  63.85  86.36
..   ...    ...    ...    ...
95    96  30.48  56.77  41.43
96    97  15.53  38.83  19.05
97    98  45.81  30.60   1.88
98    99  10.20  68.86  37.46
99   100  96.89  68.62   0.67

[100 rows x 4 columns]

Desea importar otra tabla de MySQL?
(1)y
(2)n
>>>n
(1)Importar datos de mysql a pandas dataframe
 (2)Importar datos de mi directorio actual a pandas dataframe
 (3)¡Estoy listo para procesar mis datos!
>>>3
{'tb_states1':   state      P      V      T
0     1    1.0    2.0    3.0
1     2    4.0    5.0    6.0
2     3    1.1    2.2    3.3
3     4    9.0    8.0    7.0
4     5  123.0  456.0  789.0, 'tb_states2':    state      P      V      T
0      1  87.68  81.81  73.07
1      2  84.81  39.00   7.68
2      3  22.86   2.60  50.28
3      4  64.44   7.50  33.52
4      5  42.82  63.85  86.36
..   ...    ...    ...    ...
95    96  30.48  56.77  41.43
96    97  15.53  38.83  19.05
97    98  45.81  30.60   1.88
98    99  10.20  68.86  37.46
99   100  96.89  68.62   0.67

[100 rows x 4 columns]}
Tienes varias tablas para procesar. Elige qué acción quieres efectuar sobre ellas:
(1)Calcular calor y trabajo total en cada tabla
 (2)Resolver un sistema AX=Y
 (3)Mostrar un gráfico de regresión lineal con scatter y un gráfico de caja y bigote
 (4)Ingresar función de dos variables y graficar, dadas dos columnas elegida por el usuario alguna tabla. (funcion lambda) (5)Exit
>>>2
[[['1', 1.0, 2.0, 3.0], ['2', 4.0, 5.0, 6.0], ['3', 1.1, 2.2, 3.3], ['4', 9.0, 8.0, 7.0], ['5', 123.0, 456.0, 789.0]]final de tabla

 [['1', 87.68, 81.81, 73.07], ['2', 84.81, 39.0, 7.68], ['3', 22.86, 2.6, 50.28], ['4', 64.44, 7.5, 33.52], ['5', 42.82, 63.85, 86.36], ['6', 56.56, 53.13, 12.52], ['7', 71.58, 0.14, 60.23], ['8', 25.42, 68.14, 42.74], ['9', 65.47, 87.03, 96.39], ['10', 80.97, 87.08, 95.17], ['11', 0.83, 9.79, 57.54], ['12', 15.71, 81.89, 29.82], ['13', 47.01, 50.33, 90.99], ['14', 52.35, 5.98, 11.45], ['15', 24.35, 87.74, 48.02], ['16', 4.44, 19.95, 39.31], ['17', 61.13, 19.6, 3.4], ['18', 93.69, 96.91, 59.63], ['19', 10.09, 28.79, 9.19], ['20', 37.17, 81.02, 47.78], ['21', 67.83, 41.08, 57.07], ['22', 67.87, 60.7, 25.79], ['23', 32.64, 10.39, 55.67], ['24', 12.55, 59.63, 49.79], ['25', 65.54, 59.14, 27.85], ['26', 99.61, 10.6, 15.29], ['27', 75.42, 61.41, 68.2], ['28', 77.74, 86.16, 5.88], ['29', 37.8, 70.83, 30.74], ['30', 36.22, 73.41, 34.66], ['31', 35.92, 94.91, 76.56], ['32', 78.0, 10.94, 17.35], ['33', 57.02, 67.33, 41.24], ['34', 59.28, 75.03, 54.85], ['35', 44.17, 86.13, 73.9], ['36', 99.87, 72.97, 99.7], ['37', 54.63, 40.21, 39.79], ['38', 50.21, 60.86, 6.97], ['39', 59.23, 37.01, 98.11], ['40', 78.85, 32.5, 5.87], ['41', 60.03, 12.72, 73.98], ['42', 38.03, 95.59, 94.5], ['43', 26.68, 29.85, 46.13], ['44', 72.69, 16.87, 65.98], ['45', 81.39, 9.87, 36.13], ['46', 12.94, 76.0, 80.69], ['47', 97.89, 26.34, 64.89], ['48', 18.81, 8.83, 20.17], ['49', 28.45, 66.04, 93.15], ['50', 96.49, 52.0, 8.0], ['51', 57.38, 60.61, 83.66], ['52', 51.62, 14.24, 7.54], ['53', 62.32, 86.88, 47.96], ['54', 41.41, 94.17, 72.66], ['55', 74.35, 46.08, 89.06], ['56', 86.3, 79.92, 59.0], ['57', 15.29, 99.1, 52.88], ['58', 86.46, 49.47, 95.47], ['59', 41.37, 84.8, 5.14], ['60', 86.9, 30.0, 81.68], ['61', 85.28, 0.83, 38.98], ['62', 2.28, 31.38, 80.23], ['63', 32.37, 5.86, 43.1], ['64', 4.91, 41.48, 14.0], ['65', 45.52, 0.63, 58.15], ['66', 45.38, 89.7, 91.4], ['67', 91.92, 2.14, 54.38], ['68', 69.11, 34.83, 58.67], ['69', 40.73, 89.12, 97.59], ['70', 32.28, 3.31, 94.68], ['71', 5.89, 79.95, 68.73], ['72', 82.31, 60.72, 60.35], ['73', 69.25, 99.82, 47.05], ['74', 26.33, 44.09, 11.53], ['75', 13.87, 48.36, 44.9], ['76', 24.7, 82.12, 33.0], ['77', 45.45, 23.43, 16.17], ['78', 36.65, 90.52, 98.15], ['79', 68.91, 12.93, 99.92], ['80', 12.72, 97.56, 24.91], ['81', 57.69, 62.37, 43.04], ['82', 35.91, 44.93, 24.41], ['83', 60.83, 35.45, 19.74], ['84', 25.06, 13.53, 67.09], ['85', 26.97, 99.5, 29.27], ['86', 62.31, 43.11, 1.55], ['87', 25.84, 24.99, 73.16], ['88', 39.64, 66.71, 5.28], ['89', 29.75, 8.43, 34.8], ['90', 96.28, 22.49, 45.84], ['91', 91.2, 78.49, 25.37], ['92', 54.26, 51.08, 92.82], ['93', 46.6, 58.67, 2.5], ['94', 68.0, 21.99, 57.62], ['95', 73.05, 0.8, 34.53], ['96', 30.48, 56.77, 41.43], ['97', 15.53, 38.83, 19.05], ['98', 45.81, 30.6, 1.88], ['99', 10.2, 68.86, 37.46], ['100', 96.89, 68.62, 0.67]]]
[['1'  1.0  2.0  3.0]
 ['2'  4.0  5.0  6.0]
 ['3'  1.1  2.2  3.3]
 ['4'  9.0  8.0  7.0]
 ['5'  123.0  456.0  789.0]]
[['1' '1.0' '2.0' '3.0']
 ['2' '4.0' '5.0' '6.0']
 ['3' '1.1' '2.2' '3.3']
 ['4' '9.0' '8.0' '7.0']
 ['5' '123.0' '456.0' '789.0']]
Transpuesta:
[['1', '2', '3', '4', '5'], [1.0, 4.0, 1.1, 9.0, 123.0], [2.0, 5.0, 2.2, 8.0, 456.0], [3.0, 6.0, 3.3, 7.0, 789.0]]
Matriz convertida a cuadrada:
[['1'  1.0  2.0  3.0  84]
 ['2'  4.0  5.0  6.0  61]
 ['3'  1.1  2.2  3.3  68]
 ['4'  9.0  8.0  7.0  62]
 ['5'  123.0  456.0  789.0  72]]
(1)Calcular calor y trabajo total en cada tabla
 (2)Resolver un sistema AX=Y
 (3)Mostrar un gráfico de regresión lineal con scatter y un gráfico de caja y bigote
 (4)Ingresar función de dos variables y graficar, dadas dos columnas elegida por el usuario alguna tabla. (funcion lambda) (5)Exit

In [15]:
def calculateWQ(P,V,T,process_type):
    if process_type == 'adiabatic':
        
    elif process_type == 'isothermal':
        
    elif process_type == 'isochoric':
        
    elif process_type == 'isobaric':
        
    else: print("Tipo de proceso no valido.")

IndentationError: expected an indented block after 'if' statement on line 2 (3211189241.py, line 4)

In [ ]:
class Elemental_Particle():
    def __init__(self, argumentos):
        self.masa = masa
        self.carga = carga
        self.spin = spin
        self.acelera = False
        self.semueve = True
        self.energy = energy
        self.momentum = momentum
        self.frequency = frequency

class Electron(Elemental_Particle):
    pass

class Gas():

# logger.py

In [ ]:
def log(fichero_log):
    def decorador_log(func):
        def decorador_funcion(*args, **kwargs):
            with open(fichero_log, 'a') as opened_file:
                output = func(*args, **kwargs)
                opened_file.write(f"{output}\n")
            return output   # SI ESTA LINEA NO ESTÁ LA FUNCIÓN DECORADA NO RETORNA NADA!!!!
        return decorador_funcion
    return decorador_log

@log('ficherosalida.log')
def suma(a, b):
    return a + b

@log('ficherosalida.log')
def resta(a, b):
    return a - b

@log('ficherosalida.log')
def multiplicadivide(a, b, c):
    return a*b/c

a=suma(10, 30)
b=resta(7, 23)
c=multiplicadivide(5, 10, 2)
print(a,b,c)

In [ ]:
from mpl_toolkits.mplot3d import axes3d
import matplotlib.pyplot as plt

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

X, Y, Z = axes3d.get_test_data(0.1)
ax.plot_wireframe(X, Y, Z, rstride=5, cstride=5)

# rotate the axes and update
for angle in range(0, 360):
   ax.view_init(0, angle)

plt.show()

In [ ]:
fig = plt.figure(figsize = (10,8))
ax = plt.axes(projection='3d')

x = np.arange(0, 5.1, 0.2)
y = np.arange(0, 5.1, 0.2)

P, V = np.meshgrid(x, y)
T = P*V

surf = ax.plot_surface(P, V, T, cmap = plt.cm.cividis)

# Set axes label
ax.set_xlabel('P')
ax.set_ylabel('V')
ax.set_zlabel('T')

#ax.tick_params(rotation=60)
#Esto rotará 60 grados las etiquetas, sobre el eje de las x.

fig.colorbar(surf, shrink=0.5, aspect=8)

plt.show()

In [ ]:
fig = plt.figure(figsize = (10,8))
ax = plt.axes(projection='3d')

x = np.arange(0, 5.1, 0.2)
y = np.arange(0, 5.1, 0.2)

P, V = np.meshgrid(x, y)
a=1
b=1
T=(P+a/V**2)*(V-b)

surf = ax.plot_surface(P, V, T, cmap = plt.cm.cividis)

# Set axes label
ax.set_xlabel('P')
ax.set_ylabel('V')
ax.set_zlabel('T')

ax.tick_params(rotation=90)
#Esto rotará 60 grados las etiquetas, sobre el eje de las x.

fig.colorbar(surf, shrink=0.5, aspect=8)

plt.show()

In [ ]:
#def llenar_estado(tabla)

def ingresar_thermo_states(i):
    print(f"ingrese los valores del estado {i}: ")
    thermo_states['state'].append(i)
    P=input("P = ")
    V=input("V = ")
    T=input("T = ")
    thermo_states['P'].append(P)
    thermo_states['V'].append(V)
    thermo_states['T'].append(T)
    
def ingresar_thermo_trans(i):
    while True:
        process_type = input(f"ingrese el tipo de transformación de la transición {i}-{i+1}: ")
        if process_type in ['adiabatic', 'isothermal','isochoric','isobaric']:
            thermo_trans['initial-final_states'].append(str(i)+'-'+str(i+1))
            thermo_trans['process_type'].append(process_type)
            break
        else:
            input_error()
    
def input_error():
    print("respuesta no válida.")

thermo_states = {'state':[],'P':[],'V':[],'T':[]}
thermo_trans = {'initial-final_states':[],'process_type':[]}

flag=1 #bandera
ingresar_thermo_states(flag)
flag=flag+1
ingresar_thermo_states(flag)
ingresar_thermo_trans(flag-1)

#verifico:
print(thermo_states)
print(thermo_trans)

while True:
    respuesta = input("Desea ingresar el siguiente estado? y/n: ")
    if respuesta == 'y':
        flag=flag+1
        ingresar_thermo_states(flag)
        ingresar_thermo_trans(flag-1)
    elif respuesta == 'n':
        break
    else:
        input_error()
        
#verifico:
print(thermo_states)
print(thermo_trans)

# Generador

In [ ]:
def all_even(N):
    n=0
    while n<N:
        yield n
        n+=2

a = ((i,i**2,i**3) for i in all_even(13) if not i%3)
#print(list(a))
for j in (("Apple" if i<3 else "Pie") for i in range(8)):
    print(j)

# MI PARCIAL 1

In [ ]:
#AUTOR: JORGE LUIS JIMÉNEZ
#ESTE PROGRAMA PERMITE VER UN CICLO TERMODINÁMICO CON SUS RESPECTIVOS PROCESOS Y CALCULAR EL TRABAJO Y EL CALOR EN ESE CICLO.

import math
class Cycle:
    #Creo el constructor de la clase Cycle con el método __init__. In the constructor you can set variables and call methods
    def __init__(self,state):  
        #Cuando creo un objeto, se inicializan sus atributos o variables gracias al método __init__. 
        #Instance is an object that belongs to a class. For instance, list is a class in Python. When we create a list, we have an instance of the list class.
        #SELF represents the instance of class. This handy keyword allows you to access variables, attributes, and methods of a defined class in Python.
        self.state = state #Para una lista de nx4. las tres primeras guardan datos numéricos P,V,T y la última el proceso en string.
        n = len(state) #n filas, que significa n procesos en un ciclo
        m = 4 #4 columnas [P,V,T,"SIGUIENTE PROCESO"] 
        self.shape = [n, m]
    def __str__(self): #The __str__() method returns a human-readable, or informal, string representation of an object.
        answer=""
        for i in range(self.shape[0]): #i<4, i=0,1,2,3
            answer = answer + self._print_state_(i) #concateno la descrición del siguiente estado para cada iteración
        answer=answer+"Cycle finished.\n\n"
        return(answer)
    def _print_state_(self,i): #
        if i < self.shape[0]-1: #i+1=número de estado, i<n, i=0,1,2,...,(n-1)-1 
            answer=("Equilibrium State "+str(i+1)+"\n"+"Pressure: {0} Pascal\nVolume: {1} cubic meter\nTemperature: {2} Kelvin".
                format(str(self.state[i][0]), str(self.state[i][1]), str(self.state[i][2]))
                +"\n"+"There is an "+str(self.state[i][3])+" process from equilibrium state "+str(i+1)+" to equilibrium state "+str(i+2)+"\n\n")
        else: #i=n-1 (dado que el proceso va del estado n al estado inicial 1, solo se cambia str(i+2) por str(1) en la parte final de la cadena)
            answer=("Equilibrium State "+str(i+1)+"\n"+"Pressure: {0} Pascal\nVolume: {1} cubic meter\nTemperature: {2} Kelvin".
                format(str(self.state[i][0]), str(self.state[i][1]), str(self.state[i][2]))
                +"\n"+"There is an "+str(self.state[i][3])+" process from equilibrium state "+str(i+1)+" to equilibrium state "+str(1)+"\n\n")
        return(answer)
    def _compute_heatWork_(self,state):
        state=state
        R=8.314
        answer1=[]      #answer1 es una lista de trabajo-energía de cada proceso en un ciclo: [[Q1,W1],[Q2,W2],...,[Qn,Wn]]
        answer2=[0,0]   #answer2 es una lista de trabajo-energía total en un ciclo: [Q_total, W_total]

        for i in range(self.shape[0]): #itera en los estados 1,2,...,n-1. (i=0,1,...,n-2)
            if i < self.shape[0]-1: #Si estados en un estado que no sea el último (estado n), haga...
                P1=self.state[i][0]
                #P2=self.state[i+1][0] #NO SE USA
                V1=self.state[i][1]
                V2=self.state[i+1][1]
                T1=self.state[i][2]
                T2=self.state[i+1][2]
            
                if self.state[i][3]=="adiabatic":
                    Q=0
                    W=-3*R*(T2-T1)
                #return("adiabatic")
                elif self.state[i][3]=="isobaric":
                    Q=5*R*(T2-T1)
                    W=P1*(V2-V1)
                #return("isobaric")
                elif self.state[i][3]=="isochoric":
                    Q=3*R*(T2-T1)
                    W=0
                #return("isochoric")
                elif self.state[i][3]=="isothermal":
                    Q=2*R*T1*math.log(V2/V1,2.7182818284)
                    W=2*R*T1*math.log(V2/V1,2.7182818284)
                #return("isothermal")
                else:
                    return("...")  
                answer1.append([round(Q,1),round(W,1)])
            else:
                P1=self.state[i][0]
                #P2=self.state[0][0] #NO SE USA
                V1=self.state[i][1]
                V2=self.state[0][1]
                T1=self.state[i][2]
                T2=self.state[0][2]
            
                if self.state[i][3]=="adiabatic":
                    Q=0
                    W=-3*R*(T2-T1)
                #return("adiabatic")
                elif self.state[i][3]=="isobaric":
                    Q=5*R*(T2-T1)
                    W=P1*(V2-V1)
                #return("isobaric")
                elif self.state[i][3]=="isochoric":
                    Q=3*R*(T2-T1)
                    W=0
                #return("isochoric")
                elif self.state[i][3]=="isothermal":
                    Q=2*R*T1*math.log(V2/V1,2.7182818284)
                    W=2*R*T1*math.log(V2/V1,2.7182818284)
                #return("isothermal")
                else:
                    return("...")  
                answer1.append([round(Q,1),round(W,1)])
        
        for i in range(self.shape[0]): #aqui se hace la sumatoria de los calores y trabajos en cada proceso, para obtener los Q Y W totales.
            answer2[0]=answer2[0]+answer1[i][0]
            answer2[1]=answer2[1]+answer1[i][1]
        answer2[0]=round(answer2[0],1)
        answer2[1]=round(answer2[1],1)
        return(answer2) #OBSERVACIÓN: retorne answer1 para ver el proceso en detalle, o retorne answer2 para ver el calor y trabajo total.
    
               # Estado 1              Estado 2                Estado 3            Estado 4            Estado 5
M1 = Cycle([[1,2,4,"adiabatic"],[3,16,1,"isochoric"],[7,16,2,"isothermal"],[1,3,2,"isobaric"]])

Cycle([[1,2,4,"adiabatic"],[3,16,1,"isochoric"],[7,16,2,"isothermal"],[1,3,2,"isobaric"]])

#print(M1)
#print("Total work and total heat spend to the system [Q_total, W_total]:") #comentario para el retorno de answer2
#print("Work and heat spend to the system in each process of the cycle [[Q(1->2),W(1->2)],[Q(2->3),W(2->3)],...,[Q(n->1),W(n->1)]]:") #comentario para el retorno de answer1
#print(M1._compute_heatWork_(M1))

#R=8.314
#[P,V,T,SIGUIENTE PROCESO]
#answer1 es una lista de calor-trabajo de cada proceso en un ciclo: [[Q(1->2),W(1->2)],[Q(2->3),W(2->3)],...,[Q(n->1),W(n->1)]]
#answer2 es una lista de calor-trabajo total en un ciclo: [Q_total, W_total]
#[[0, 74.8], [24.9, 0], [-55.7, -55.7], [83.1, -1]]