# Proyecto Final
## Descriptión: 
### Creación, importación desde bases de datos y directorio actual, y procesamiento de tablas de estados-procesos termodinámicos usando Python y MySQL. Los cálculos realizados aquí pueden no tener sentido físico, por lo que muchos resultados se basan en procedimientos que tienen más como fin mostrar las capacidades del lenguaje Python y sus librerías.

In [29]:
''' nombre del programa: PROCESAMIENTO DE DATOS TERMODINÁMICOS USANDO PYTHON Y MYSQL.

autor: Est. Jorge Luis Jiménez Hurtado
cod est.: 1005704849
institución: Universidad del Quindío
correo institucional: jorgel.jimenezh@uqvirtual.edu.co

Buen día. Por favor empieza a leer el programa desde la última línea y te guiarás por las llamadas de las funciones.
'''
import os
from pathlib import Path
#from sqlalchemy import create_engine
#import pymysql
#import sys
import mysql.connector 
import random
import pandas as pd
import xlrd
import re # la uso en el método to_relate()
import math # La uso en el método thermo_process()
import numpy as np
#from numpy.linalg import eig, LinAlgError


'''Procesamiento de tablas de estados y procesos termodinámicos dentro de bases de datos usando MySQL.'''
#
#
#Este método me muestra el menú principal (main menu).
def user_options():
    while True:
        print("\nMAIN MENU\n(1)Create database\n(2)Delete database\n(3)Login to a database\n(4)Exit.\n\nChoose an option (1/2/3/4/5)")
        response = input('>>>')     
        if response == '1':
            create_db()       
        elif response == '2':
            delete_db()
        elif response == '3':
            login_db()
        elif response == '4':
            raise Exception('Has cerrado el programa.')
        else:
            input_error()
#
#
# Cada vez que el usuario no ingrese un dato válido, se llamará a esta función.
def input_error():
    print("\nRespuesta no válida.\n")
#
#
# Método para ingresar el nombre de una tabla, mostrándome las existentes en la base de datos.
def input_table(conn, cursor):
    # Retrieving the list of tables. (retrieve - n. recuperar.)
    print("List of tables: ")
    cursor.execute("SHOW TABLES")
        
    for x in cursor:
        print(x)

    print("Ingrese el nombre de la tabla")
    tb=input('>>>')
    
    return tb
#
#
#
def connect_and_show_db():
    # Establishing the connection. Good practice: use 'conn' or 'cnx'
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Himenesumusic_13",
    )
    # Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    
    # Retrieving the list of databases. (retrieve - n. recuperar.)
    print("List of databases: ")
    cursor.execute("SHOW DATABASES")
    
    for x in cursor:
        print(x)
    return conn, cursor
#
#
'''Creating a database in MySQL using python.'''
def create_db():
    conn,cursor = connect_and_show_db()
    MyNewDB=input('Ingresa el nombre de la nueva base de datos. ' 
                  'PELIGRO: Si el nombre de la base de datos que vas a crear coincide con alguna existente, '
                  'entonces se reemplazará la existente por la nueva.\n>>>')
    
    # Dropping a database deletes the database from an instance of SQL Server and deletes the physical disk files used by the database.    
    # Dropping database MyDB_Thermo if already exists. DROP database is a keyword of MySQL.
    cursor.execute("DROP database IF EXISTS " + db_name)

    # Preparing query to create a database. CREATE database is a keyword of MySQL.
    sql = "CREATE database " + db_name

    # Creating a database. MySQLCursor.execute() Method executes the given database operation (query(consulta o acción sobre los datos) or command).
    cursor.execute(sql)

    # Retrieving the list of databases. (retrieve - n. recuperar.)
    print("List of databases: ")
    cursor.execute("SHOW DATABASES")
    
    for x in cursor:
        print(x)

    print(cursor.fetchall()) # MySQLCursor.fetchall() Method fetches(fetch - v. ir a buscar) all (or all remaining) rows of a query result set and returns a list of tuples. If no more rows are available, it returns an empty list.
    
    # Comando que me guarda los cambio en MySQL y para que se muestren en MySQL Workbench
    conn.commit()
    
    # Closing the connection
    conn.close()
    
    pass
#
# Este método me elimina una base de datos existente elegida por el usuario.
def delete_db():
    cnx,cursor = connect_and_show_db()
    
    ByeDB=input("Ingresa el nombre de la base de datos que desea eliminar.\n>>>")
    
    # Dropping a database deletes the database from an instance of SQL Server and deletes the physical disk files used by the database.    
    # Dropping database MyDB_Thermo if already exists. DROP database is a keyword of MySQL.
    cursor.execute("DROP database IF EXISTS " + db_name)
    
    # Retrieving the list of databases. (retrieve - n. recuperar.)
    print("List of databases: ")
    cursor.execute("SHOW DATABASES")
    
    for x in cursor:
        print(x)

    #print(cursor.fetchall()) #MySQLCursor.fetchall() Method fetches(fetch - v. ir a buscar) all (or all remaining) rows of a query result set and returns a list of tuples. If no more rows are available, it returns an empty list.
    
    # Comando que me guarda los cambio en MySQL y para que se muestren en MySQL Workbench
    cnx.commit()
    
    # Closing the connection
    cnx.close()
    
    pass
#
#
def login_db():
    cnx,cursor = connect_and_show_db()        
    cnx.close()
    # While trying to connect to an existing database.
    while not cnx.is_connected():
        toDB=input("Ingrese el nombre de la base de datos a la cual desea entrar.\n>>>")
        try:
            # Establishing the connection. Good practice: use 'conn' or 'cnx'  
            cnx = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="Himenesumusic_13",
            database=toDB
            )
            print("Conexión exitosa.\n")
            cursor = cnx.cursor()
            processing_data_menu(cnx,cursor)
        except mysql.connector.Error:
            print(f"No fue posible conectarse porque la base de datos '{toDB}' no existe.\n")
        else: print("Error al intentar conectarse.\n")
            
    pass
#
#
def processing_data_menu(conn,cursor):
    obj=Process_data('tb_states77.xlsx','tb_states78.xlsx','tb_states79.xlsx','test_table137.xlsx',
                     tb_states77=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final',
                     data_base1=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final\OtroDirectorio',
                     tb_states78=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final',
                     test_table137=r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre'
                    )
    while True:
        print("\nMAIN MENU\n(1)Usar operaciones CRUD de MySQL\n(2)Procesar datos\n(3)Exit\nChoose an option (1/2/3)")
        response = input('>>>')     
        if response == '1':
            submenu_tables_mysql_options(conn,cursor,obj)      
        elif response == '2':
            processing_data(conn,cursor)
        elif response == '3':
            user_options()
        else:
            input_error()       
#
# Menú de opciones de tablas disponibles para el usuario con MySQL
def submenu_tables_mysql_options(conn,cursor,obj):
    while True:
        print("\nSUBMENU\n(1)Create table\n(2)Read table\n(3)Update table\n(4)Delete table\n(5)Exit.\n\nChoose an option (1/2/3/4/5)\n")
        response = input('>>>')
        
        if response == '1':
            obj.create_table(conn, cursor, obj)
        elif response == '2':
            obj.read_table(conn, cursor)
        elif response == '3':
            obj.update_table(conn, cursor)
        elif response == '4':
            obj.delete_table(conn, cursor, obj)
        elif response == '5':
            processing_data_menu(conn, cursor)
        else:
            input_error()
    pass
#
# 
def read_my_cwdir():
    '''We get the name of my current working directory as a string'''
    cwdir = os.getcwd()
    '''We get files and directories in my current working directory in a list'''
    files_in_cwdir = os.listdir() 
    '''Para obtener el directorio de trabajo actual, usamos el función getcwd() (get current working directory) del módulo os. 
    Esta función te devuelve el directorio actual en forma de cadena.'''
    '''I get the files of xlsx type in a list'''
    valid_files = [i for i in files_in_cwdir if os.path.isfile(i) and i.endswith('.xlsx')]
    
    print(f"\nDirectorio de trabajo actual: {cwdir}")
    print(f"Archivos y carpetas dentro: {files_in_cwdir}.")
    print(f"Archivos válidos (de tipo .xlsx): {valid_files}")
        
    return cwdir,files_in_cwdir,valid_files
#
#
'''Mi decorador :-)'''
def decorator_check_cwdir(function_to_decorate, pa, kwa): # pa: positional arguments, kwa: keyword arguments
    cwdir, files_in_cwdir, valid_files = read_my_cwdir()
    
    def is_cwdir(path):
        if path == cwdir: 
            return 'actual '
        else:
            return ''
    print("")    
    for i,j in zip(kwa.keys(),kwa.values()): # zip() me permite iterar con más de un índice. Python’s zip function allows us to loop over multiple lists at the same time:
        path = Path(j+'\\'+i+'.xlsx') # ejemplo cuando concateno: r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Parcial2\data_base3.xlsx'
        if path.is_file():
            print(f"El archivo {i+'.xlsx'} existe en el directorio {is_cwdir(j)}{j}")
        else:
            print(f"El archivo {i+'.xlsx'} no existe en el directorio {is_cwdir(j)}{j}")
    
    function_to_decorate()
    pass
#
# Clase que al inicializarse recibe como argumentos los nombres de archivos y opcionalmente sus direcciones.
class Process_data():
    #
    '''Al crearse la clase recibe nombres de archivos y opcionalmente sus direcciones'''
    def __init__(self, *args, **kwargs): # args=(var1,var2,var3,...,varn), kwargs={a:'val1', b:'val2',...}
        decorator_check_cwdir(self.__check_my_cwdir__, args, kwargs)
    #
    #
    '''aplico la función decoradora 'decorator_check_actdir()' a la función de abajo'''
    def __check_my_cwdir__(self):
        print("Se ha inicializado la clase Process_data() y se han leído los archivos recibidos.")
    #
    '''Los siguientes métodos de la clase Process_data() son la implementación de las operaciones CRUD de MySQL.'''
    #
    #
    def create_table(self, conn, cursor,obj):
        print("Ingrese el nombre de la tabla P,V,T que desea crear")
        statesTBname=input('>>>')
        
        #Dropping newTB table if already exists.
        cursor.execute(f"DROP TABLE IF EXISTS {statesTBname}")
        
        #Creating table as per requirement
        sql = f"CREATE TABLE {statesTBname} (state INT, P FLOAT(7,2), V FLOAT(7,2), T FLOAT(7,2))" #Here, (M,D) means than values can be stored with up to M digits in total, of which D digits may be after the decimal point
        
        try:
            cursor.execute(sql)
        except mysql.connector.Error as err:
            print("Failed creating database: {0}".format(err))
            exit(1)
            
        print("Ingrese el nombre de la tabla de procesos asociada a la tabla de estados")
        processesTBname=input('>>>')
         
        #Dropping newTB table if already exists.
        cursor.execute(f"DROP TABLE IF EXISTS {processesTBname}")
        
        #Creating table as per requirement
        sql = f"CREATE TABLE {processesTBname} (initial_final_states VARCHAR(255), type_of_process VARCHAR(255))"
        
        try:
            cursor.execute(sql)
        except mysql.connector.Error as err:
            print("Failed creating database: {0}".format(err))
            exit(1)

        # Preparing SQL query to INSERT a record into the database.
        insDynSta = f"INSERT INTO {statesTBname}(state, P, V, T) VALUES (%s, %s, %s, %s)" # %s se usar para insertar los valores dinámicamente.
        insDynPro = f"INSERT INTO {processesTBname}(initial_final_states, type_of_process) VALUES (%s, %s)"
        
        while True:
            print("(1)Enter values\n(2)Random values\n(3)Exit\nPlease choose an option (1/2/3)")
            resp=input(">>>")
            
            if resp == '1':
                self.insert_in_table(conn, cursor, insDynSta, insDynPro)
                submenu_tables_mysql_options(conn,cursor,obj)
            elif resp == '2':
                self.random_table(conn, cursor, insDynSta, insDynPro)
                submenu_tables_mysql_options(conn,cursor,obj)
            elif resp == '3':
                submenu_tables_mysql_options(conn,cursor,obj)
            else:
                input_error()

        pass
    #
    #
    #
    # Método que permite al usuario insertar uno o varios registros en una tabla cuyo nombre está guardado en la variable tb
    def insert_in_table(self, conn, cursor, insDynSta, insDynPro):
        state=0 # flag - bandera
        resp='y'
        while resp == 'y':
            state+=1
            tonteando=True     
            while tonteando:
                print(f"Ingrese la presión, volumen, y temperatura del estado {state}")
                P=input("P = ")
                V=input("V = ")
                T=input("T = ")              
                try:
                    P=float(P)
                    V=float(V)
                    T=float(T)
                    if P>0 and V>0 and T>0:
                        tonteando=False
                    else:
                        print("Solo se permiten números reales mayores a cero.")
                except:
                    print("El dato ingresado no es de tipo flotante.")
            try:
                # Populating the table 
                cursor.execute(insDynSta,(state,P, V, T))
                # Commit your changes in the database
                conn.commit()
            except:
                # Rolling back in case of error (roll back - v. retroceder (una acción))
                conn.rollback()
                print("Error al intentar ejecutar query. Los datos a insertar en la tabla no son de tipo flotante.")
            if state > 1:
                ups=True
                while ups:
                    print(f"Ingrese el tipo de proceso llevado a cabo del estado {state-1} al estado {state}")
                    proc=input(">>>")
                    if proc in ["adiabatic","isothermal","isobaric","isochoric"]:
                        ups=False 
                        trans=f'{state-1}-{state}'
                        cursor.execute(insDynPro,(trans,proc))
                        conn.commit()
                    else:
                        input_error()
            while True:
                resp = input("Desea ingresar un nuevo estado (P,V,T) ? y/n\n>>>")
                if resp in ['y','n']:
                    break
                else:
                    input_error()
    
        pass
    #
    #
    #   
    def random_table(self, conn, cursor, insDynSta, insDynPro):
        tonteando=True
        while tonteando:
            n=input("Ingrese el número de estados (número de filas de la tabla)\n>>>")
            try:
                n = int(n)
                if n > 1:
                    tonteando=False
                else:
                    print("Solo se permiten enteros mayores o iguales a dos.")
            except ValueError:
                print("El dato ingresado no es de tipo entero.")

        for i in range(n):
            P,V,T = random.uniform(0, 100),random.uniform(0, 100),random.uniform(0, 100)
            # Populating the table 
            cursor.execute(insDynSta,(i+1,P,V,T))
            
        for i in range(n-1):
            trans=f'{i+1}-{i+2}'
            proce=random.choice(["adiabatic","isothermal","isobaric","isochoric"])
            cursor.execute(insDynPro,(trans,proce))
            
        # Commit your changes in the database
        conn.commit()  
        
        pass
    #
    #
    #
    # Método para leer, selecionar información útil de la base de datos a la cual el usuario está conectado (conn).
    def read_table(self, conn, cursor):
        tb = input_table(conn, cursor) 
        #Retrieving single row
        sql = f'SELECT * from {tb}'
        
        #Executing the query
        cursor.execute(sql)
        
        print("Todos los registros de la tabla:")
        #Fetching 1st row from the table
        result = cursor.fetchall();
        print(result)
        
        '''print("El primer registro de la tabla:")
        #Fetching 1st row from the table
        result = cursor.fetchone();
        print(result)'''
        
        print("Registros con T > 3:")
        #Retrieving specific records using the where clause
        #cursor.execute(f"SELECT * from {tb} WHERE 373.25 < T < 373.25") #temperaturas entre 0 y 100 grados centigrados.
        cursor.execute(f"SELECT * from {tb} WHERE T > 3") 
        print(cursor.fetchall())
        
        print("Registros ordenados por V ascendiente:")
        cursor.execute(f"SELECT * from {tb} ORDER BY V") # ordena los registros por V ascendiente.
        print(cursor.fetchall())
        
        print("Registros ordenados por P descendiente:")
        cursor.execute(f"SELECT * from {tb} ORDER BY P DESC") # ordena los registros por P descendiente.
        print(cursor.fetchall())
        
        pass
    #
    #
    #   
    def update_table(self, conn, cursor):
        tb = input_table(conn, cursor) 
        #Preparing the query to update the records
        sql_query = f'''UPDATE {tb} SET P = 10, V = 20, T = 30 WHERE P = V AND V = T'''
        
        try:
            # Execute the SQL command
            cursor.execute(sql_query)
            # Commit your changes in the database
            conn.commit()
        except:
            # Rollback in case there is any error
            conn.rollback()
            print("Error al intentar modificar el registro.")

        pass
    #
    #
    # metodo que me permite eliminar registros de una tabla
    def delete_table(self, conn, cursor, obj):
        
        while True:
            print("(1)Delete a record of the table\n(2)Drop table\n(3)Exit\nChoose an option (1/2/3)")
            resp=input(">>>")
            
            if resp == '1':
                self.delete_record(conn, cursor)
            elif resp == '2':
                self.drop_table(conn, cursor)
            elif resp == '3':
                submenu_tables_mysql_options(conn,cursor,obj)
            else:
                input_error()
        
        print("Eliminar tabla")
        
        self.drop_table(conn, cursor)
    #
    #
    #
    '''Método que me elimina registros según condición dada sobre los datos.'''
    def delete_record(self, conn, cursor):
        tb = input_table(conn, cursor)
        #Preparing the query to delete records
        sql = f"DELETE FROM {tb} WHERE P <= 0 OR V <= 0 OR T <= 0 OR ( P = V AND V = T )"
        try:
            # Execute the SQL command
            cursor.execute(sql)
            # Commit your changes in the database
            conn.commit()
        except:
            # Roll back in case there is any error
            print("Hubo un error en la ejecución para eliminar los registros de la tabla.")
            conn.rollback()
        pass
    #
    #
    #
    '''Método que me elimina una tabla guardada en una base de datos usando MySQL'''
    def drop_table(self, conn, cursor):
        tb = input_table(conn, cursor)
        #Doping tb table if already exists
        try: 
            cursor.execute(f"DROP TABLE {tb}")
            print(f"Table {tb} dropped... ")
        except:
            # Roll back in case there is any error
            print("Hubo un error en la ejecución para eliminar la tabla.")
            conn.rollback()
        pass
#
#
'''Menú para el procesamiento de datos: aquí se llaman varias funciones de procesan las dataframes con datos termodinámicos'''
def processing_data(conn,cursor):
    alright=False
    dfs1={} # voy a guardar todas mis tablas de mysql en el diccionario dfs1. {'name_table1':'table_data_frame1',...}
    dfs2={} # voy a guardar todas mis tablas de mi directorio en el diccionario dfs2. {'name_table2':'table_data_frame2',...}      
    while not alright:
        print("(1)Importar datos de mysql a pandas dataframe\n",
            '(2)Importar datos de mi directorio actual a pandas dataframe\n',
            '''(3)¡Estoy listo para procesar mis datos!''')
        resp=input(">>>")
        subresp='y'
        if resp=='1':
            while subresp=='y':
                df_name,df = imp_mysql_df(conn,cursor)
                #dfs = {**dfs, df_name:df} # adding a key:value pair using a dictionary comprehension.
                dfs1.update({df_name:df}) # adding a key:value pair using the update() method.
                print("Desea importar otra tabla de MySQL?\n(1)y\n(2)n")
                subresp=input('>>>')                    
        elif resp=='2':
            while subresp=='y':
                df_name,df = import_from_my_cwdir()
                #dfs = {**dfs, df_name:df} # adding a key:value pair using a dictionary comprehension.
                dfs2.update({df_name:df}) # adding a key:value pair using the update() method.
                print("Desea importar otra tabla del directorio actual?\n(1)y\n(2)n")
                subresp=input('>>>')
        elif resp=='3':
            alright=True
        else:
            input_error()
            
    dfs={**dfs1,**dfs2} # junto todas las tablas obtenidas de mysql y del directorio actual, identificas con su nombre por defecto. ¡¡¡No puedo juntar tablas con el mismo nombre (key)!!!
    
    print(dfs)
    
    print("Tienes varias tablas para procesar. Elige qué acción quieres efectuar sobre ellas:")    
    
    while True:
        print("(1)Calcular calor y trabajo total en cada tabla\n",
             "(2)Resolver un sistema AX=Y\n",
             "(3)Mostrar un gráfico de regresión lineal con scatter y un gráfico de caja y bigote\n",
             "(4)Ingresar función de dos variables y graficar, dadas dos columnas elegida por el usuario alguna tabla. (funcion lambda)",
             "(5)Exit")
        resp=input(">>>")
        
        if resp=='1':
            compute_heatwork(dfs)
        elif resp=='2':
            solve_matrix_equation(dfs)
        elif resp=='3':
            plot_linear_regression(dfs)
            plot_caja_bigote(dfs)
        elif resp=='4':
            plot_function(dfs)
        elif resp=='5':
            processing_data_menu(conn,cursor)
        else:
            input_error()
            
    # pendiente...
#
#
'''Summary of this method: importing data from a MySQL database into a Pandas data frame including column names'''
def imp_mysql_df(conn,cursor):
    goout=False
    while not goout:
        try:
            tb=input_table(conn, cursor)
            cursor.execute(f"SELECT * FROM {tb}")
            L1=cursor.fetchall()
            '''Once data is fetched it can be loaded into DataFrame'''
            df=pd.DataFrame(L1) # con este comando no obtengo los registros sin nombres de columnas.
            cursor.execute(f"SHOW COLUMNS FROM {tb}")
            L2=cursor.fetchall() 
            #df_column_names=pd.DataFrame(cursor.fetchall())            
            goout=True
        except mysql.connector.Error as err:
            print("Failed selecting table '{0}': {1}\n".format(tb,err))
    print(L1)
    print(df)
    print(L2)
    L=[]
    for i in range(len(L2)): 
        L.append(L2[i][0])
    print(L)
    # adding column name to the respective nameless columns
    df.columns=L
    print(df)
    print(f'''\nSe ha importado desde mysql la tabla {tb} a dataframe con éxito.\nNueva dataframe {tb}:''')
    display(df)
            
    return tb,df

'''Método para importar un archivo de tipo .xlsx de mi directorio de trabajo actual. Retorna una tabla de tipo dataframe'''
def import_from_my_cwdir():
    cwdir,files_in_cwdir,valid_files = read_my_cwdir()
    While=True
    while While:
        print("\nIngrese el nombre de la tabla con terminación .xlsx que quiere importar del directorio actual a pandas dataframe\n")
        tb=input('''>>>''')
        if tb in valid_files:
            While=False
            df=pd.read_excel(tb)
            display(df)
        else: 
            print("El archivo no existe en el directorio.")
            
    return tb.replace('.xlsx',''),df
#
#
'''Método que me permite calcular el calor y el trabajo en cada transformación y el total. Se muestra al usuario'''
def compute_heatwork(dfs):
    ordered=to_relate(dfs) # e.g. ordered=[[dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2], [dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2]]'''
    
    print("\nCalor y trabajo en cada transformación:")
    for i in ordered:
        df_stat=i[0] # i-ésima tabla dataframe de estados
        df_proc=i[1] # i-ésima tabla dataframe de procesos
        df_QW = pd.DataFrame(columns=['initial_final_states','Q','W'])
        '''obtengo las columnas de las dataframes como listas'''
        statelis=df_stat['state'].tolist()
        Plis=df_stat['P'].tolist()
        Vlis=df_stat['V'].tolist()
        Tlis=df_stat['T'].tolist()
        ifslis=df_proc['initial_final_states'].tolist()
        typlis=df_proc['type_of_process'].tolist()
        Q_T,W_T=0,0
        for j in range(len(typlis)):
            Q,W = thermo_process(j+1,typlis[j],Plis[j],Plis[j+1],Vlis[j],Vlis[j+1],Tlis[j],Tlis[j+1])
            print(f"{ifslis[j]}: Q = {round(Q,2)} joules, W= {round(W,2)} joules")
            entry = pd.DataFrame.from_dict({
                "initial_final_states":[ifslis[j]],
                "Q":[round(Q,2)],
                "W":[round(W,2)]
            })
            df_QW=pd.concat([df_QW, entry], ignore_index=True)
            Q_T+=Q
            W_T+=W
        display(df_QW)
        print(f"Calor total: {round(Q_T)} joules, Trabajo total: {round(W_T)} joules")
    pass
#
#
'''La función to_relate() me ayuda a hacer corresponder las tablas de los estados y procesos'''
'''EJEMPLO:
Si la funcion recibe
dfs={'tb_processes1':dfp1,'tb_processes3':dfp3,'tb_states2':dfs2,'tb_states1':dfs1,'tb_states2':dfs2,'tb_states3':dfs3,'tb_processes2':dfp2}
donde dfs1,dfs2,...,dfp1, dfp2... son las dataframes que quiero relacionar en pares, entonces la relacion es la lista que retorna la funcion:
ordered=[[dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2], [dfs1, dfp1], [dfs3, dfp3], [dfs2, dfp2]]'''
def to_relate(dfs):
    ordered=[]
    for x,y in zip(dfs.keys(),dfs.values()):
        i=re.findall(r'\d',x)[0] # este metodo me retorna una lista de strings con los números del string original x, y me paro en el indice 0 para obtener el primer string(número). En este caso particular, retorna una lista de un solo elemento)
        for u,w in zip(dfs.keys(),dfs.values()):
            j=re.findall(r'\d',u)[0]
            if j==i and x!=u: # si los nombres tienen el mismo número de terminación pero no son iguales (dfs1 != dfs1).
                # Para agregar primero tabla de estados, luego tabla de procesos.
                if x.find('states') != -1: # si x es el nombre de la tabla de estados. (find() retorna la posición índice del primer carácter del string 'states' en el string x. Retorna -1 si no lo encuentra)
                    ordered.append([y,w])
                else: # sino x es el nombre de la tabla de procesos.
                    ordered.append([w,y])
                break # no se va a encontrar un tercer nombre con igual número de terminación. No siga buscando/iterando.
    n=int(len(ordered)/2) 
    ordered=ordered[:n] # la segunda mitad de la lista se repite, debo cortarla (by using a slice).
    print(ordered)
    return ordered

'''Método que me retorna el calor y el trabajo realizado del estado 'state' al estado 'state+1'.'''
def thermo_process(state,process,P1,P2,V1,V2,T1,T2):
    R=8.314
    if process=="adiabatic":
        Q, W = 0, -3*R*(T2-T1)
    elif process=="isobaric":
        Q, W = 5*R*(T2-T1), P1*(V2-V1)
    elif process=="isochoric":
        Q, W = 3*R*(T2-T1), 0
    elif process=="isothermal":
        Q, W = 2*R*T1*math.log(V2/V1,math.e), 2*R*T1*math.log(V2/V1,math.e)
    return Q, W

def solve_matrix_equation(dfs):
    '''agrego las dataframes de estados state,P,V,T convertidas a listas en una lista.'''
    '''recordar: Sean dfsi,dfpi, i=1,2,3... las dataframes, dfs es el diccionario a procesar. e.g:
    dfs={ 'tb_processes1':dfp1,'tb_processes3':dfp3,'tb_states2':dfs2,'tb_states1':dfs1,
        'tb_states2':dfs2,'tb_states3':dfs3,'tb_processes2':dfp2 }'''
    listdata=[dfs[i].values.tolist() for i in dfs.keys() if i.find('states') != -1]
    #print(str(listdata).replace(']],',']]\n\n'))
    
    for i in range(len(listdata)):
        obj=Matrix(listdata[i])
        print("\nMatriz a procesar:")
        print(obj) # usando el método especial __str__()
        #print(np.array(obj.M))
        M=obj.M
        m=obj.shape[0]
        n=obj.shape[1]
        print(f"Tamaño de matriz: {m}x{n}")
        print("\nMatrix transpuesta:")
        obj_T=Matrix(obj.__transpose__())
        print(obj_T)

        if m < n: # m=2, m=3. pues n>3 (state,P,V,T)
            obj2=SquaredMatrix(convert_to_squared(M,m,n,)) # agrego una fila con valores aleatorios.
            print("\nMatriz convertida a cuadrada:")
            print(obj2) # usando el método especial __str__() 
        elif m > n: 
            obj2=SquaredMatrix(convert_to_squared(M,m,n,m-n)) # # agrego m-n columnas con valores aleatorios.
            print("\nMatriz convertida a cuadrada:")
            print(obj2) # usando el método especial __str__()
        elif m==n: 
            print("\nLa matriz ya es cuadrada!")
            print(obj)
        print(f"Tamaño de nueva matriz: {obj2.shape[0]}x{obj2.shape[1]}")
        obj2_T=Matrix(obj2.__transpose__())
        print("\nMatriz cuadrada transpuesta:")
        print(obj2_T)
        print("\nDeterminante:")
        print(obj2.__determinant__())
        print("\nInversa:")
        print(obj2.__inverse__())
        print("\nAutovalores y autovectores:")
        print(obj2.__eigen__())
        b=[[random.uniform(-100, 100)] for i in range(m)]
        print(f"\nLa solución del sistema Ax=b, donde\nb = {b}\nA = {obj2.M}\nes")
        print(f"x = {obj2.__solve__(b)}")
        
        print("\nPROCESAMIENTO DE LA SIGUIENTE TABLA DE DATOS\n")
#   
# 
'''Mis tres decoradores que se aplican sobre el método especial __str__(). Estos darán un formato parecido al del array de pandas'''
'''Mi primer decorador: me convierte la lista a un string'''
def convert_to_string(function_to_decorate):
    def wrapper(ref): # el ref es necesario cuando la función a decorar está dentro de una clase.
        func=function_to_decorate(ref)
        return str(func)
    return wrapper
'''Mi segundo decorador: me reemplaza las ], por ]\n. Es decir, visualizo las filas una sobre otra.'''
def get_matrix_form(function_to_decorate):
    def wrapper(ref):
        func=function_to_decorate(ref)
        return func.replace('],',']\n')
    return wrapper
'''Mi tercer decorador: me reemplaza las coma por un espacio. Así se parecerá más a la notación matemática'''
def replace_comma(function_to_decorate):
    def wrapper(ref):
        func=function_to_decorate(ref)
        return func.replace(',',' ')
    return wrapper
#
#
'''superclase Matrix'''
class Matrix:
    def __init__(self,listdf):
        self.M=listdf
        self.shape=self.__get_shape__(listdf)
        pass
    @replace_comma
    @get_matrix_form
    @convert_to_string
    def __str__(self):
        return self.M # intentando emular como se imprimiría un numpy.ndarray
    '''sin los decoradores, solo pondría el comando:
        return str(self.M).replace('],',']\n').replace(',',' ')'''
    def __get_shape__(self,L):
        return [len(L),len(L[0])] # [m,n]
    def __add__(self,otra):
        return [list(map(lambda x,y:x+y,self.M[k],otra[k])) for k in range(self.shape[0])]
    def __transpose__(self):
        T=[]
        for j in range(self.shape[1]): T+=[[self.M[i][j] for i in range(self.shape[0])]]
        return T

'''subclase de mi superclase Matrix'''
class SquaredMatrix(Matrix):
    def __init__(self,Mx):
        m,n=len(Mx),len(Mx[0])
        '''super() gives you access to attributes and methods in a superclass from the subclass that inherits from it'''
        if m==n: # si es cuadrada...
            super().__init__(Mx)
        else:
            super().__init__(convert_to_squared(Mx,m,n,m-n)) # sino convertir a cuadrada.
    def __determinant__(self):
        return np.linalg.det(np.array(self.M))
    def __inverse__(self):
        try:
            return np.linalg.inv(np.array(self.M)).tolist()
        except LinAlgError:
            print("Singular matrix. La matrix no tiene inversa.")
            return [[]]
    def __eigen__(self):
        eigenval,eigenvec=eig(np.array(self.M))
        return eigenval.tolist(),eigenvec.tolist()
    def __solve__(self,b): # resuelve el sistema Ax=b
        try:
            x=np.linalg.solve(np.array(self.M),np.array(b))
            return x.tolist()
        except LinAlgError:
            print("Sistema matricial sin solución. La matriz A es singular.")

def convert_to_squared(M,m,n,l=None):
    '''np.random.randint(arg1,arg2,[m,n]) me da un objeto de tipo 'numpy.ndarray'. Si lo convierto a lista,
    obtengo una lista de m-filas por n-columnas con valores aleatorios en el intervalo entre arg1 y arg2.
    '''
    if l!=None:
        return [M[j]+[round(random.uniform(0.01,100),1) for i in range(l)] for j in range(m)] # agrego l columnas aleatorias.
    else:
        return M+[[round(random.uniform(0.01,100),1) for i in range(n)] for j in range(n-m)] # agrego una fila aleatoria.

'''Otras funciones buenas para procesar los datos. No se han implementado por el momento...'''
def plot_linear_regression():
    pass
def plot_caja_bigote():
    pass
def plot_input_function():
    pass

'''ESTA FUNCIÓN ME COMIENZA A EJECUTAR TODO EL PROGRAMA. ES MI MAIN.'''
user_options()

MAIN MENU
(1)Create database
(2)Delete database
(3)Login to a database
(4)Exit.

Choose an option (1/2/3/4/5)
>>>3
List of databases:
('information_schema',)
('mydb_thermo',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)
Ingrese el nombre de la base de datos a la cual desea entrar.
>>>testdb
Conexión exitosa.


Directorio de trabajo actual: C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
Archivos y carpetas dentro: ['.git', '.ipynb_checkpoints', 'ficherosalida.log', 'imagen.jpeg', 'OtroDirectorio', 'Proyecto_Final.ipynb', 'Repaso.ipynb', 'tb_states77.xlsx', 'tb_states78.xlsx', 'tb_states79.xlsx', 'Untitled.sql'].
Archivos válidos (de tipo .xlsx): ['tb_states77.xlsx', 'tb_states78.xlsx', 'tb_states79.xlsx']

El archivo tb_states77.xlsx existe en el directorio actual C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
El archivo data_base1.xlsx existe en el directorio C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final\OtroDirectorio
El archivo tb_states78.xlsx existe en el directorio actual C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
El archivo test_table137.xlsx no existe en el directorio C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre
Se ha inicializado la clase Process_data() y se han leído los archivos recibidos.

MAIN MENU
(1)Usar operaciones CRUD de MySQL
(2)Procesar datos
(3)Exit
Choose an option (1/2/3)
>>>2
(1)Importar datos de mysql a pandas dataframe
 (2)Importar datos de mi directorio actual a pandas dataframe
 (3)¡Estoy listo para procesar mis datos!
>>>1
List of tables:
('mitabla',)
('nuevatabla',)
('nuevatabla1',)
('tablaaleatoria',)
('tablaprueba',)
('tb_processes1',)
('tb_processes2',)
('tb_states1',)
('tb_states2',)
Ingrese el nombre de la tabla
>>>tb_states1
[(1, 1.0, 2.0, 3.0), (2, 4.0, 5.0, 6.0), (3, 1.1, 2.2, 3.3), (4, 0.1, 0.2, 0.3), (5, 123.0, 456.0, 789.0)]
   0      1      2      3
0  1    1.0    2.0    3.0
1  2    4.0    5.0    6.0
2  3    1.1    2.2    3.3
3  4    0.1    0.2    0.3
4  5  123.0  456.0  789.0
[('state', b'int', 'YES', '', None, ''), ('P', b'float(7,2)', 'YES', '', None, ''), ('V', b'float(7,2)', 'YES', '', None, ''), ('T', b'float(7,2)', 'YES', '', None, '')]
['state', 'P', 'V', 'T']
   state      P      V      T
0      1    1.0    2.0    3.0
1      2    4.0    5.0    6.0
2      3    1.1    2.2    3.3
3      4    0.1    0.2    0.3
4      5  123.0  456.0  789.0

Se ha importado desde mysql la tabla tb_states1 a dataframe con éxito.
Nueva dataframe tb_states1:

   state      P      V      T
0      1    1.0    2.0    3.0
1      2    4.0    5.0    6.0
2      3    1.1    2.2    3.3
3      4    0.1    0.2    0.3
4      5  123.0  456.0  789.0

Desea importar otra tabla de MySQL?
(1)y
(2)n
>>>y
List of tables:
('mitabla',)
('nuevatabla',)
('nuevatabla1',)
('tablaaleatoria',)
('tablaprueba',)
('tb_processes1',)
('tb_processes2',)
('tb_states1',)
('tb_states2',)
Ingrese el nombre de la tabla
>>>tb_states2
[(1, 63.34, 69.34, 68.59), (2, 61.32, 64.12, 52.57), (3, 35.26, 15.45, 50.97), (4, 60.99, 14.61, 72.7), (5, 17.84, 90.46, 35.82), (6, 96.68, 58.06, 95.24), (7, 75.95, 48.93, 14.46), (8, 56.64, 33.84, 44.01), (9, 12.86, 84.0, 52.02), (10, 32.64, 26.25, 7.0), (11, 47.59, 85.62, 27.21), (12, 25.83, 56.88, 12.75), (13, 26.59, 28.77, 85.39), (14, 39.46, 14.91, 53.26), (15, 80.55, 31.3, 20.95), (16, 50.34, 2.97, 48.15), (17, 86.92, 76.84, 14.61), (18, 25.37, 19.71, 96.08), (19, 65.68, 90.05, 98.91), (20, 36.16, 48.06, 53.62)]
     0      1      2      3
0    1  63.34  69.34  68.59
1    2  61.32  64.12  52.57
2    3  35.26  15.45  50.97
3    4  60.99  14.61  72.70
4    5  17.84  90.46  35.82
5    6  96.68  58.06  95.24
6    7  75.95  48.93  14.46
7    8  56.64  33.84  44.01
8    9  12.86  84.00  52.02
9   10  32.64  26.25   7.00
10  11  47.59  85.62  27.21
11  12  25.83  56.88  12.75
12  13  26.59  28.77  85.39
13  14  39.46  14.91  53.26
14  15  80.55  31.30  20.95
15  16  50.34   2.97  48.15
16  17  86.92  76.84  14.61
17  18  25.37  19.71  96.08
18  19  65.68  90.05  98.91
19  20  36.16  48.06  53.62
[('state', b'int', 'YES', '', None, ''), ('P', b'float(7,2)', 'YES', '', None, ''), ('V', b'float(7,2)', 'YES', '', None, ''), ('T', b'float(7,2)', 'YES', '', None, '')]
['state', 'P', 'V', 'T']
    state      P      V      T
0       1  63.34  69.34  68.59
1       2  61.32  64.12  52.57
2       3  35.26  15.45  50.97
3       4  60.99  14.61  72.70
4       5  17.84  90.46  35.82
5       6  96.68  58.06  95.24
6       7  75.95  48.93  14.46
7       8  56.64  33.84  44.01
8       9  12.86  84.00  52.02
9      10  32.64  26.25   7.00
10     11  47.59  85.62  27.21
11     12  25.83  56.88  12.75
12     13  26.59  28.77  85.39
13     14  39.46  14.91  53.26
14     15  80.55  31.30  20.95
15     16  50.34   2.97  48.15
16     17  86.92  76.84  14.61
17     18  25.37  19.71  96.08
18     19  65.68  90.05  98.91
19     20  36.16  48.06  53.62

Se ha importado desde mysql la tabla tb_states2 a dataframe con éxito.
Nueva dataframe tb_states2:

    state      P      V      T
0       1  63.34  69.34  68.59
1       2  61.32  64.12  52.57
2       3  35.26  15.45  50.97
3       4  60.99  14.61  72.70
4       5  17.84  90.46  35.82
5       6  96.68  58.06  95.24
6       7  75.95  48.93  14.46
7       8  56.64  33.84  44.01
8       9  12.86  84.00  52.02
9      10  32.64  26.25   7.00
10     11  47.59  85.62  27.21
11     12  25.83  56.88  12.75
12     13  26.59  28.77  85.39
13     14  39.46  14.91  53.26
14     15  80.55  31.30  20.95
15     16  50.34   2.97  48.15
16     17  86.92  76.84  14.61
17     18  25.37  19.71  96.08
18     19  65.68  90.05  98.91
19     20  36.16  48.06  53.62

Desea importar otra tabla de MySQL?
(1)y
(2)n
>>>y
List of tables:
('mitabla',)
('nuevatabla',)
('nuevatabla1',)
('tablaaleatoria',)
('tablaprueba',)
('tb_processes1',)
('tb_processes2',)
('tb_states1',)
('tb_states2',)
Ingrese el nombre de la tabla
>>>tb_processes1
[('1-2', 'adiabatic'), ('2-3', 'isothermal'), ('3-4', 'isochoric'), ('4-5', 'isobaric')]
     0           1
0  1-2   adiabatic
1  2-3  isothermal
2  3-4   isochoric
3  4-5    isobaric
[('initial_final_states', b'varchar(255)', 'YES', '', None, ''), ('type_of_process', b'varchar(255)', 'YES', '', None, '')]
['initial_final_states', 'type_of_process']
  initial_final_states type_of_process
0                  1-2       adiabatic
1                  2-3      isothermal
2                  3-4       isochoric
3                  4-5        isobaric

Se ha importado desde mysql la tabla tb_processes1 a dataframe con éxito.
Nueva dataframe tb_processes1:

  initial_final_states type_of_process
0                  1-2       adiabatic
1                  2-3      isothermal
2                  3-4       isochoric
3                  4-5        isobaric

Desea importar otra tabla de MySQL?
(1)y
(2)n
>>>y
List of tables:
('mitabla',)
('nuevatabla',)
('nuevatabla1',)
('tablaaleatoria',)
('tablaprueba',)
('tb_processes1',)
('tb_processes2',)
('tb_states1',)
('tb_states2',)
Ingrese el nombre de la tabla
>>>tb_processes2
[('1-2', 'isobaric'), ('2-3', 'isochoric'), ('3-4', 'adiabatic'), ('4-5', 'adiabatic'), ('5-6', 'isobaric'), ('6-7', 'isobaric'), ('7-8', 'isothermal'), ('8-9', 'adiabatic'), ('9-10', 'adiabatic'), ('10-11', 'isochoric'), ('11-12', 'isochoric'), ('12-13', 'isochoric'), ('13-14', 'isothermal'), ('14-15', 'isobaric'), ('15-16', 'isobaric'), ('16-17', 'adiabatic'), ('17-18', 'isochoric'), ('18-19', 'adiabatic'), ('19-20', 'isochoric')]
        0           1
0     1-2    isobaric
1     2-3   isochoric
2     3-4   adiabatic
3     4-5   adiabatic
4     5-6    isobaric
5     6-7    isobaric
6     7-8  isothermal
7     8-9   adiabatic
8    9-10   adiabatic
9   10-11   isochoric
10  11-12   isochoric
11  12-13   isochoric
12  13-14  isothermal
13  14-15    isobaric
14  15-16    isobaric
15  16-17   adiabatic
16  17-18   isochoric
17  18-19   adiabatic
18  19-20   isochoric
[('initial_final_states', b'varchar(255)', 'YES', '', None, ''), ('type_of_process', b'varchar(255)', 'YES', '', None, '')]
['initial_final_states', 'type_of_process']
   initial_final_states type_of_process
0                   1-2        isobaric
1                   2-3       isochoric
2                   3-4       adiabatic
3                   4-5       adiabatic
4                   5-6        isobaric
5                   6-7        isobaric
6                   7-8      isothermal
7                   8-9       adiabatic
8                  9-10       adiabatic
9                 10-11       isochoric
10                11-12       isochoric
11                12-13       isochoric
12                13-14      isothermal
13                14-15        isobaric
14                15-16        isobaric
15                16-17       adiabatic
16                17-18       isochoric
17                18-19       adiabatic
18                19-20       isochoric

Se ha importado desde mysql la tabla tb_processes2 a dataframe con éxito.
Nueva dataframe tb_processes2:

   initial_final_states type_of_process
0                   1-2        isobaric
1                   2-3       isochoric
2                   3-4       adiabatic
3                   4-5       adiabatic
4                   5-6        isobaric
5                   6-7        isobaric
6                   7-8      isothermal
7                   8-9       adiabatic
8                  9-10       adiabatic
9                 10-11       isochoric
10                11-12       isochoric
11                12-13       isochoric
12                13-14      isothermal
13                14-15        isobaric
14                15-16        isobaric
15                16-17       adiabatic
16                17-18       isochoric
17                18-19       adiabatic
18                19-20       isochoric

Desea importar otra tabla de MySQL?
(1)y
(2)n
>>>n
(1)Importar datos de mysql a pandas dataframe
 (2)Importar datos de mi directorio actual a pandas dataframe
 (3)¡Estoy listo para procesar mis datos!
>>>3
{'tb_states1':    state      P      V      T
0      1    1.0    2.0    3.0
1      2    4.0    5.0    6.0
2      3    1.1    2.2    3.3
3      4    0.1    0.2    0.3
4      5  123.0  456.0  789.0, 'tb_states2':     state      P      V      T
0       1  63.34  69.34  68.59
1       2  61.32  64.12  52.57
2       3  35.26  15.45  50.97
3       4  60.99  14.61  72.70
4       5  17.84  90.46  35.82
5       6  96.68  58.06  95.24
6       7  75.95  48.93  14.46
7       8  56.64  33.84  44.01
8       9  12.86  84.00  52.02
9      10  32.64  26.25   7.00
10     11  47.59  85.62  27.21
11     12  25.83  56.88  12.75
12     13  26.59  28.77  85.39
13     14  39.46  14.91  53.26
14     15  80.55  31.30  20.95
15     16  50.34   2.97  48.15
16     17  86.92  76.84  14.61
17     18  25.37  19.71  96.08
18     19  65.68  90.05  98.91
19     20  36.16  48.06  53.62, 'tb_processes1':   initial_final_states type_of_process
0                  1-2       adiabatic
1                  2-3      isothermal
2                  3-4       isochoric
3                  4-5        isobaric, 'tb_processes2':    initial_final_states type_of_process
0                   1-2        isobaric
1                   2-3       isochoric
2                   3-4       adiabatic
3                   4-5       adiabatic
4                   5-6        isobaric
5                   6-7        isobaric
6                   7-8      isothermal
7                   8-9       adiabatic
8                  9-10       adiabatic
9                 10-11       isochoric
10                11-12       isochoric
11                12-13       isochoric
12                13-14      isothermal
13                14-15        isobaric
14                15-16        isobaric
15                16-17       adiabatic
16                17-18       isochoric
17                18-19       adiabatic
18                19-20       isochoric}
Tienes varias tablas para procesar. Elige qué acción quieres efectuar sobre ellas:
(1)Calcular calor y trabajo total en cada tabla
 (2)Resolver un sistema AX=Y
 (3)Mostrar un gráfico de regresión lineal con scatter y un gráfico de caja y bigote
 (4)Ingresar función de dos variables y graficar, dadas dos columnas elegida por el usuario alguna tabla. (funcion lambda) (5)Exit
>>>2

Matriz a procesar:
[[1.0  1.0  2.0  3.0]
 [2.0  4.0  5.0  6.0]
 [3.0  1.1  2.2  3.3]
 [4.0  0.1  0.2  0.3]
 [5.0  123.0  456.0  789.0]]
Tamaño de matriz: 5x4

Matrix transpuesta:
[[1.0  2.0  3.0  4.0  5.0]
 [1.0  4.0  1.1  0.1  123.0]
 [2.0  5.0  2.2  0.2  456.0]
 [3.0  6.0  3.3  0.3  789.0]]

Matriz convertida a cuadrada:
[[1.0  1.0  2.0  3.0  76.7]
 [2.0  4.0  5.0  6.0  85.6]
 [3.0  1.1  2.2  3.3  99.0]
 [4.0  0.1  0.2  0.3  17.0]
 [5.0  123.0  456.0  789.0  45.2]]
Tamaño de nueva matriz: 5x5

Matriz cuadrada transpuesta:
[[1.0  2.0  3.0  4.0  5.0]
 [1.0  4.0  1.1  0.1  123.0]
 [2.0  5.0  2.2  0.2  456.0]
 [3.0  6.0  3.3  0.3  789.0]
 [76.7  85.6  99.0  17.0  45.2]]

Determinante:
1.968335092250585e-08

Inversa:
[[0.2, -0.004687500000000001, -0.5, 0.6000000000000001, -9.765625e-05], [17612623041923.68, -419608431130.9744, -14417845371822.178, 6627525491649.985, -5994406159.021117], [-35225246083847.805, 839216862262.7434, 28835690743644.055, -13255050983300.006, 11988812318.039305], [17612623041923.934, -419608431131.4335, -14417845371822.0, 6627525491650.003, -5994406159.018154], [0.008433889566551856, -0.002684522515056192, 0.0069201145161451125, -0.0059083591191641275, -3.8350321643660786e-05]]

Autovalores y autovectores:
([291.60800692852285, -236.63623412668076, -4.495389168131562, -5.859573504973185e-15, 2.2236163662896997], [[0.2359665276288435, -0.2690187303790215, 0.6423989065366645, -2.0075173111093215e-15, -0.03265315614030783], [0.270131192932829, -0.29100678628462934, 0.27549831928578017, 0.40824829046385297, 0.9892760722357844], [0.3052714653353032, -0.34621887120323075, 0.5977721958694192, -0.8164965809277294, -0.11005874523600409], [0.054921586064339396, -0.05592242825337408, -0.3893520836010037, 0.4082482904638667, -0.09002391446967005], [0.8804214265223712, 0.8484981722328919, -0.04997677252702354, -4.301822809519975e-16, -0.007027924049792019]])

La solución del sistema Ax=b, donde
b = [[-39.357465362569386], [71.09270508749626], [5.414843620571247], [56.17156868844967], [42.13675715089067]]
A = [[1.0, 1.0, 2.0, 3.0, 76.7], [2.0, 4.0, 5.0, 6.0, 85.6], [3.0, 1.1, 2.2, 3.3, 99.0], [4.0, 0.1, 0.2, 0.3, 17.0], [5.0, 123.0, 456.0, 789.0, 45.2]]
es
x = [[14.4], [-429063759245036.3], [858127518490142.5], [-429063759245076.7], [-0.818812904297476]]

PROCESAMIENTO DE LA SIGUIENTE TABLA DE DATOS


Matriz a procesar:
[[1.0  63.34  69.34  68.59]
 [2.0  61.32  64.12  52.57]
 [3.0  35.26  15.45  50.97]
 [4.0  60.99  14.61  72.7]
 [5.0  17.84  90.46  35.82]
 [6.0  96.68  58.06  95.24]
 [7.0  75.95  48.93  14.46]
 [8.0  56.64  33.84  44.01]
 [9.0  12.86  84.0  52.02]
 [10.0  32.64  26.25  7.0]
 [11.0  47.59  85.62  27.21]
 [12.0  25.83  56.88  12.75]
 [13.0  26.59  28.77  85.39]
 [14.0  39.46  14.91  53.26]
 [15.0  80.55  31.3  20.95]
 [16.0  50.34  2.97  48.15]
 [17.0  86.92  76.84  14.61]
 [18.0  25.37  19.71  96.08]
 [19.0  65.68  90.05  98.91]
 [20.0  36.16  48.06  53.62]]
Tamaño de matriz: 20x4

Matrix transpuesta:
[[1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0  20.0]
 [63.34  61.32  35.26  60.99  17.84  96.68  75.95  56.64  12.86  32.64  47.59  25.83  26.59  39.46  80.55  50.34  86.92  25.37  65.68  36.16]
 [69.34  64.12  15.45  14.61  90.46  58.06  48.93  33.84  84.0  26.25  85.62  56.88  28.77  14.91  31.3  2.97  76.84  19.71  90.05  48.06]
 [68.59  52.57  50.97  72.7  35.82  95.24  14.46  44.01  52.02  7.0  27.21  12.75  85.39  53.26  20.95  48.15  14.61  96.08  98.91  53.62]]

Matriz convertida a cuadrada:
[[1.0  63.34  69.34  68.59  25.8  90.8  78.9  39.1  26.5  50.6  58.0  97.2  5.2  83.4  45.6  3.9  31.1  19.6  24.2  93.0]
 [2.0  61.32  64.12  52.57  9.1  10.2  3.4  61.6  64.2  39.6  17.0  2.6  14.0  52.1  46.2  69.6  20.2  98.2  38.8  92.2]
 [3.0  35.26  15.45  50.97  27.6  53.6  83.7  46.5  87.6  13.9  23.3  87.3  77.9  32.9  29.8  64.8  65.0  19.1  96.0  84.9]
 [4.0  60.99  14.61  72.7  46.5  43.7  8.4  87.4  29.9  37.2  56.8  9.2  37.8  59.2  76.8  51.8  58.8  74.5  39.4  43.3]
 [5.0  17.84  90.46  35.82  92.3  13.0  10.6  58.5  17.5  10.4  2.8  68.4  16.9  17.5  85.5  66.3  69.4  97.8  91.6  59.2]
 [6.0  96.68  58.06  95.24  83.9  4.4  90.6  70.7  91.7  99.1  27.1  18.1  21.6  27.1  77.0  51.1  5.8  87.9  39.0  32.0]
 [7.0  75.95  48.93  14.46  26.0  10.4  49.9  93.4  40.6  82.0  98.5  44.2  61.5  45.1  98.6  98.6  34.8  43.1  51.9  30.0]
 [8.0  56.64  33.84  44.01  28.1  20.7  31.0  16.2  80.6  69.8  69.5  33.4  79.8  47.8  41.2  29.7  63.6  46.8  75.7  53.5]
 [9.0  12.86  84.0  52.02  91.3  11.3  81.4  83.7  22.0  28.3  80.3  83.3  97.0  93.0  84.1  84.4  20.3  42.6  3.2  25.9]
 [10.0  32.64  26.25  7.0  60.3  44.7  23.3  94.7  94.6  18.9  82.1  1.6  71.5  96.0  40.8  24.5  88.0  8.4  22.9  66.7]
 [11.0  47.59  85.62  27.21  31.4  29.8  74.2  52.7  47.2  61.0  12.2  39.5  67.9  91.9  69.2  81.9  51.3  65.1  81.5  24.0]
 [12.0  25.83  56.88  12.75  31.4  11.2  27.4  65.1  36.7  95.3  15.6  85.4  39.7  63.2  25.2  47.8  60.1  10.3  6.3  93.2]
 [13.0  26.59  28.77  85.39  80.0  29.9  99.4  51.4  89.4  92.3  68.1  42.9  97.6  48.6  0.3  70.6  83.2  4.7  1.1  35.8]
 [14.0  39.46  14.91  53.26  29.7  3.7  35.8  29.8  21.0  62.4  40.1  67.8  52.7  53.1  95.2  59.2  69.6  66.9  31.7  49.8]
 [15.0  80.55  31.3  20.95  0.8  58.8  45.6  16.3  93.8  56.0  14.2  40.5  22.2  50.1  72.1  44.7  2.3  30.5  63.2  15.9]
 [16.0  50.34  2.97  48.15  21.3  42.6  55.0  63.0  51.0  40.6  77.1  68.3  47.8  19.1  29.4  9.8  11.5  98.7  53.3  36.9]
 [17.0  86.92  76.84  14.61  99.9  57.1  68.4  59.8  84.7  88.8  57.5  86.1  16.2  78.5  65.9  68.4  72.4  79.1  50.3  3.5]
 [18.0  25.37  19.71  96.08  41.9  24.6  58.4  84.0  31.2  45.4  2.3  59.8  7.9  60.2  20.6  9.7  24.2  48.9  75.3  75.9]
 [19.0  65.68  90.05  98.91  19.4  83.6  86.6  30.9  39.4  55.1  52.2  40.4  23.2  98.8  28.0  83.0  84.6  29.6  34.6  80.3]
 [20.0  36.16  48.06  53.62  80.0  53.8  75.0  2.6  16.6  83.6  73.2  14.5  68.0  48.8  66.8  45.0  3.2  59.0  43.6  83.5]]
Tamaño de nueva matriz: 20x20

Matriz cuadrada transpuesta:
[[1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0  20.0]
 [63.34  61.32  35.26  60.99  17.84  96.68  75.95  56.64  12.86  32.64  47.59  25.83  26.59  39.46  80.55  50.34  86.92  25.37  65.68  36.16]
 [69.34  64.12  15.45  14.61  90.46  58.06  48.93  33.84  84.0  26.25  85.62  56.88  28.77  14.91  31.3  2.97  76.84  19.71  90.05  48.06]
 [68.59  52.57  50.97  72.7  35.82  95.24  14.46  44.01  52.02  7.0  27.21  12.75  85.39  53.26  20.95  48.15  14.61  96.08  98.91  53.62]
 [25.8  9.1  27.6  46.5  92.3  83.9  26.0  28.1  91.3  60.3  31.4  31.4  80.0  29.7  0.8  21.3  99.9  41.9  19.4  80.0]
 [90.8  10.2  53.6  43.7  13.0  4.4  10.4  20.7  11.3  44.7  29.8  11.2  29.9  3.7  58.8  42.6  57.1  24.6  83.6  53.8]
 [78.9  3.4  83.7  8.4  10.6  90.6  49.9  31.0  81.4  23.3  74.2  27.4  99.4  35.8  45.6  55.0  68.4  58.4  86.6  75.0]
 [39.1  61.6  46.5  87.4  58.5  70.7  93.4  16.2  83.7  94.7  52.7  65.1  51.4  29.8  16.3  63.0  59.8  84.0  30.9  2.6]
 [26.5  64.2  87.6  29.9  17.5  91.7  40.6  80.6  22.0  94.6  47.2  36.7  89.4  21.0  93.8  51.0  84.7  31.2  39.4  16.6]
 [50.6  39.6  13.9  37.2  10.4  99.1  82.0  69.8  28.3  18.9  61.0  95.3  92.3  62.4  56.0  40.6  88.8  45.4  55.1  83.6]
 [58.0  17.0  23.3  56.8  2.8  27.1  98.5  69.5  80.3  82.1  12.2  15.6  68.1  40.1  14.2  77.1  57.5  2.3  52.2  73.2]
 [97.2  2.6  87.3  9.2  68.4  18.1  44.2  33.4  83.3  1.6  39.5  85.4  42.9  67.8  40.5  68.3  86.1  59.8  40.4  14.5]
 [5.2  14.0  77.9  37.8  16.9  21.6  61.5  79.8  97.0  71.5  67.9  39.7  97.6  52.7  22.2  47.8  16.2  7.9  23.2  68.0]
 [83.4  52.1  32.9  59.2  17.5  27.1  45.1  47.8  93.0  96.0  91.9  63.2  48.6  53.1  50.1  19.1  78.5  60.2  98.8  48.8]
 [45.6  46.2  29.8  76.8  85.5  77.0  98.6  41.2  84.1  40.8  69.2  25.2  0.3  95.2  72.1  29.4  65.9  20.6  28.0  66.8]
 [3.9  69.6  64.8  51.8  66.3  51.1  98.6  29.7  84.4  24.5  81.9  47.8  70.6  59.2  44.7  9.8  68.4  9.7  83.0  45.0]
 [31.1  20.2  65.0  58.8  69.4  5.8  34.8  63.6  20.3  88.0  51.3  60.1  83.2  69.6  2.3  11.5  72.4  24.2  84.6  3.2]
 [19.6  98.2  19.1  74.5  97.8  87.9  43.1  46.8  42.6  8.4  65.1  10.3  4.7  66.9  30.5  98.7  79.1  48.9  29.6  59.0]
 [24.2  38.8  96.0  39.4  91.6  39.0  51.9  75.7  3.2  22.9  81.5  6.3  1.1  31.7  63.2  53.3  50.3  75.3  34.6  43.6]
 [93.0  92.2  84.9  43.3  59.2  32.0  30.0  53.5  25.9  66.7  24.0  93.2  35.8  49.8  15.9  36.9  3.5  75.9  80.3  83.5]]

Determinante:
1.553289922629554e+39

Inversa:

>>>1
[[   state      P      V      T
0      1    1.0    2.0    3.0
1      2    4.0    5.0    6.0
2      3    1.1    2.2    3.3
3      4    0.1    0.2    0.3
4      5  123.0  456.0  789.0,   initial_final_states type_of_process
0                  1-2       adiabatic
1                  2-3      isothermal
2                  3-4       isochoric
3                  4-5        isobaric], [    state      P      V      T
0       1  63.34  69.34  68.59
1       2  61.32  64.12  52.57
2       3  35.26  15.45  50.97
3       4  60.99  14.61  72.70
4       5  17.84  90.46  35.82
5       6  96.68  58.06  95.24
6       7  75.95  48.93  14.46
7       8  56.64  33.84  44.01
8       9  12.86  84.00  52.02
9      10  32.64  26.25   7.00
10     11  47.59  85.62  27.21
11     12  25.83  56.88  12.75
12     13  26.59  28.77  85.39
13     14  39.46  14.91  53.26
14     15  80.55  31.30  20.95
15     16  50.34   2.97  48.15
16     17  86.92  76.84  14.61
17     18  25.37  19.71  96.08
18     19  65.68  90.05  98.91
19     20  36.16  48.06  53.62,    initial_final_states type_of_process
0                   1-2        isobaric
1                   2-3       isochoric
2                   3-4       adiabatic
3                   4-5       adiabatic
4                   5-6        isobaric
5                   6-7        isobaric
6                   7-8      isothermal
7                   8-9       adiabatic
8                  9-10       adiabatic
9                 10-11       isochoric
10                11-12       isochoric
11                12-13       isochoric
12                13-14      isothermal
13                14-15        isobaric
14                15-16        isobaric
15                16-17       adiabatic
16                17-18       isochoric
17                18-19       adiabatic
18                19-20       isochoric]]

Calor y trabajo en cada transformación:
1-2: Q = 0 joules, W= -74.83 joules
2-3: Q = -81.91 joules, W= -81.91 joules
3-4: Q = -74.83 joules, W= 0 joules
4-5: Q = 32786.26 joules, W= 45.58 joules

  initial_final_states         Q      W
0                  1-2         0 -74.83
1                  2-3    -81.91 -81.91
2                  3-4    -74.83   0.00
3                  4-5  32786.26  45.58

Calor total: 32630 joules, Trabajo total: -111 joules
1-2: Q = -665.95 joules, W= -330.63 joules
2-3: Q = -39.91 joules, W= 0 joules
3-4: Q = 0 joules, W= -541.99 joules
4-5: Q = 0 joules, W= 919.86 joules
5-6: Q = 2470.09 joules, W= -578.02 joules
6-7: Q = -3358.02 joules, W= -882.69 joules
7-8: Q = -88.66 joules, W= -88.66 joules
8-9: Q = 0 joules, W= -199.79 joules
9-10: Q = 0 joules, W= 1122.89 joules
10-11: Q = 504.08 joules, W= 0 joules
11-12: Q = -360.66 joules, W= 0 joules
12-13: Q = 1811.79 joules, W= 0 joules
13-14: Q = -933.28 joules, W= -933.28 joules
14-15: Q = -1343.13 joules, W= 646.75 joules
15-16: Q = 1130.7 joules, W= -2281.98 joules
16-17: Q = 0 joules, W= 836.55 joules
17-18: Q = 2032.02 joules, W= 0 joules
18-19: Q = 0 joules, W= -70.59 joules
19-20: Q = -1129.62 joules, W= 0 joules

   initial_final_states        Q        W
0                   1-2  -665.95  -330.63
1                   2-3   -39.91     0.00
2                   3-4     0.00  -541.99
3                   4-5     0.00   919.86
4                   5-6  2470.09  -578.02
5                   6-7 -3358.02  -882.69
6                   7-8   -88.66   -88.66
7                   8-9     0.00  -199.79
8                  9-10     0.00  1122.89
9                 10-11   504.08     0.00
10                11-12  -360.66     0.00
11                12-13  1811.79     0.00
12                13-14  -933.28  -933.28
13                14-15 -1343.13   646.75
14                15-16  1130.70 -2281.98
15                16-17     0.00   836.55
16                17-18  2032.02     0.00
17                18-19     0.00   -70.59
18                19-20 -1129.62     0.00

Calor total: 29 joules, Trabajo total: -2382 joules
(1)Calcular calor y trabajo total en cada tabla
 (2)Resolver un sistema AX=Y
 (3)Mostrar un gráfico de regresión lineal con scatter y un gráfico de caja y bigote
 (4)Ingresar función de dos variables y graficar, dadas dos columnas elegida por el usuario alguna tabla. (funcion lambda) (5)Exit
>>>5

Directorio de trabajo actual: C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
Archivos y carpetas dentro: ['.git', '.ipynb_checkpoints', 'ficherosalida.log', 'imagen.jpeg', 'OtroDirectorio', 'Proyecto_Final.ipynb', 'Repaso.ipynb', 'tb_states77.xlsx', 'tb_states78.xlsx', 'tb_states79.xlsx', 'Untitled.sql'].
Archivos válidos (de tipo .xlsx): ['tb_states77.xlsx', 'tb_states78.xlsx', 'tb_states79.xlsx']

El archivo tb_states77.xlsx existe en el directorio actual C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
El archivo data_base1.xlsx existe en el directorio C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final\OtroDirectorio
El archivo tb_states78.xlsx existe en el directorio actual C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Proyecto_Final
El archivo test_table137.xlsx no existe en el directorio C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre
Se ha inicializado la clase Process_data() y se han leído los archivos recibidos.

MAIN MENU
(1)Usar operaciones CRUD de MySQL
(2)Procesar datos
(3)Exit
Choose an option (1/2/3)
>>>3

MAIN MENU
(1)Create database
(2)Delete database
(3)Login to a database
(4)Exit.

Choose an option (1/2/3/4/5)
>>>4

Exception: Has cerrado el programa.